$day-theme-main: #f0f6ff;
$day-theme-secondary: #bfcaf4;
$day-theme-background: #dbe8ff;
$night-theme-secondary: #001392;
$night-theme-background: #3f50be;
$night-theme-main: #030d4d;
$night-linear-gradient: linear-gradient(rgba(38, 61, 212, 0.75), rgba(38, 61, 212, 0.75));

// $themes: (
//   default: (
//     logo: url('../images/icons/all-icons.svg#logo-box-day'),
//     backgr: $day-theme-main,
//     fontt: $night-theme-secondary,
//   ),
//   dark: (
//     logo: url('../images/icons/all-icons.svg#logo-box-day'),
//     backgr: $day-theme-main,
//     fontt: $day-theme-secondary,
//   ),
// );

// :root {
//   --night-theme-secondary: #001392;
//   --day-theme-secondary: #bfcaf4;

//   [data-theme='dark'] {
//     --night-theme-secondary: #bfcaf4;
//     --day-theme-secondary: #001392;
//   }
// }

// @mixin themed() {
//   @each $theme, $map in $themes {
//     .theme--#{$theme} & {
//       $theme-map: () !global;
//       @each $key, $submap in $map {
//         $value: map-get(map-get($themes, $theme), '#{$key}');
//         $theme-map: map-merge(
//           $theme-map,
//           (
//             $key: $value,
//           )
//         ) !global;
//       }
//       @content;
//       $theme-map: null !global;
//     }
//   }
// }

// @function t($key) {
//   @return map-get($theme-map, $key);
// }

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

html {
  // max-width: 2080px;
  margin: auto;

  --main-bg: #f0f6ff;
  --side-bg: #bfcaf4;
  --section-bg: rgb(219, 232, 255);
  --intro-section-bg: linear-gradient(
    to top right,
    rgba(139, 181, 255, 0.75),
    rgba(250, 250, 251, 0.815),
    rgba(139, 181, 255, 0.75)
  );
  --main-sections-bg: linear-gradient(to bottom left, rgba(219, 232, 255, 0.75), rgba(139, 181, 255, 0.75));
  --logo-bg: #bfcaf4;
  --qual-details-bg: rgba(139, 181, 255, 0.75);
  --details-desc-bg: rgba(191, 202, 244, 0.6);

  --font-border-color: #001079;
  --btn-color: #001392;

  --logo-image-shadow: #263dd4;
  --icons-shadow: rgba(0, 6, 37, 0.74);
  --headlines-shadow: rgba(0, 6, 37, 0.74);

  --details-bg: linear-gradient(
    to top,
    transparent,
    rgb(219, 232, 255),
    rgb(250, 250, 251),
    rgb(219, 232, 255),
    transparent
  );

  --scrollbar--1: rgba(139, 181, 255, 0.75);
  --scrollbar--2: rgb(219, 232, 255);
  --scrollback-btn: rgb(2, 52, 190);
}

html[data-theme='dark'] {
  --main-bg: #030d4d;
  --side-bg: #001392;
  // --section-bg: rgba(51, 74, 180, 0.815);
  --section-bg: rgba(41, 53, 161, 0.808);
  --intro-section-bg: linear-gradient(
    to top right,
    rgba(0, 7, 110, 0.75),
    rgba(105, 126, 219, 0.815),
    rgba(0, 7, 110, 0.75)
  );
  --main-sections-bg: linear-gradient(to bottom left, rgba(105, 126, 219, 0.815), rgba(9, 19, 160, 0.75));
  --logo-bg: #001392;
  --qual-details-bg: rgba(0, 15, 75, 0.787);
  --details-desc-bg: rgba(5, 34, 163, 0.6);

  --font-border-color: #dbe8ff;
  --btn-color: #dbe8ff;

  --logo-image-shadow: #dbe8ff;
  --icons-shadow: #013288;
  --headlines-shadow: #2f73e9;

  --details-bg: linear-gradient(to top, transparent, rgb(3, 13, 77), rgb(2, 9, 54), rgb(3, 13, 77), transparent);

  --scrollbar--1: rgba(14, 45, 187, 0.815);
  --scrollbar--2: rgb(56, 105, 190);
  --scrollback-btn: rgb(192, 207, 250);
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 8vh;
  position: relative;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--font-border-color);
  font-family: 'Comfortaa', cursive;
  transition: background-color 0.5s ease;
  min-height: 100vh;
  overflow-x: hidden;
  @media (max-height: 640px) and (max-width: 640px) {
    padding-top: 4rem;
  }

  // &::-webkit-scrollbar {
  //   width: 0.6vw;
  //   background-color: transparent;
  // }

  // &::-webkit-scrollbar-button {
  //   background-color: var(--scrollbar--1);
  //   border-radius: 5px;
  //   border: 1px solid var(--scrollbar--2);
  // }

  // &::-webkit-scrollbar-thumb {
  //   // width: 0.5vw;
  //   height: 10px;
  //   background-color: var(--scrollbar--1);
  //   border-radius: 5px;
  //   border: 2px solid var(--scrollbar--2);
  // }
}

::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}

::-webkit-scrollbar-button {
  height: 1px;
  visibility: hidden;
  background-color: var(--scrollbar--1);
  border-radius: 5px;
  border: 1px solid var(--scrollbar--2);
}

::-webkit-scrollbar-thumb {
  // visibility: hidden;
  background-color: var(--scrollbar--1);
  border-radius: 5px;
  border: 2px solid var(--scrollbar--2);
}
