.indiv-section__main {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 116vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--section-bg);
  transition: transform 0.3s linear;
  transform: translateY(-8vh);
  //   overflow-y: scroll;
  @media (min-width: 1080px) {
    position: fixed;
    overflow: hidden;
  }
}

// GENERAL RULES

.indiv-section__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  //   height: auto;
  width: 100vw;
  transform: translateY(-8vh);
  background-color: var(--section-bg);
  overflow-x: hidden;
  @media (min-width: 1080px) {
    overflow-x: visible;
    height: 100vh;
    flex-direction: row;
    min-width: 600vw;
  }
}

.indiv-section-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 95vw;
  min-height: 100vh;
  position: relative;
  @media (min-width: 1080px) {
    margin-top: 0;
    // margin-left: 20rem;
    // min-width: 30rem;
    width: 100vw;
  }
}

.indiv-headline-text-box {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 4rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-15deg);
  @media (min-width: 420px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 15rem;
    text-align: center;
    transform: translateX(10rem) skew(-15deg);
  }
}

.indiv-headline-text {
  display: block;
  transform: skew(15deg);
}

.indiv-par-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  @media (min-width: 1080px) {
    flex-direction: row;
    width: 40vw;
    height: 80%;
  }
}

.indiv-section__scrolled-div {
  display: none;
  @media (min-width: 1080px) {
    display: block;
    height: 1100vh;
    z-index: -1;
    background-color: transparent;
  }
}

.header-scroll-started {
  transform: translateY(-8vh);
}
.footer-scroll-started {
  transform: translateY(8vh);
}

// BOX 1 RULES

.indiv-box-one {
  align-items: flex-start;
  background-color: aquamarine;
}

.indiv-img__one {
  position: absolute;
  width: 90%;
  bottom: 10vh;
  transform: translateY(0rem);
  //   transition: transform 0.1s
  @media (min-width: 1080px) {
    width: 60%;
    padding-bottom: 10rem;
    transform: translateX(18rem);
  }
}

.indiv-headline-box-one {
  margin-top: 12rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 4rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-15deg);
  @media (min-width: 420px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 35rem;
    text-align: center;
    transform: translateX(10rem) skew(-15deg);
  }
}

// BOX 2 RULES

.indiv-box-two {
  background-color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  position: relative;
  @media (min-width: 1080px) {
    min-width: 30rem;
  }
}

.indiv-img__two-left {
  position: absolute;
  width: 70vw;
  top: 15vh;
  transform: translateX(0rem);
  //   transition: transform 0.1s
  @media (min-width: 1080px) {
    height: auto;
    width: 60%;
    left: 2vw;
    transform: translateY(-10rem);
  }
}

.indiv-img__two-right {
  position: absolute;
  width: 70vw;
  bottom: 5vh;
  transform: translateX(0rem);
  //   transition: transform 0.1s
  @media (min-width: 1080px) {
    height: auto;
    width: 60%;
    right: 2vw;
    transform: translateY(10rem);
  }
}

.indiv-headline-box-two {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  // margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 3rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-15deg);
  @media (min-width: 420px) {
    height: 4rem;
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 5rem;
    text-align: center;
    transform: translateX(10rem) skew(-15deg);
  }
}

.indiv-par-box-two {
  height: 60%;
  width: 90%;
  z-index: 1;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: rgba(149, 216, 216, 0.774);
  border-radius: 5px;
  @media (min-width: 640px) {
    height: 55%;
  }
  @media (min-width: 1080px) {
    height: 65%;
    width: 70%;
    transform: skew(-15deg);
    border-radius: 5px;
  }
}

.indiv-par-two {
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 2rem 0;
  line-height: 1.3;
  font-size: 0.85rem;
  @media (min-width: 640px) {
    line-height: 1.3;
    font-size: 1rem;
  }
  @media (min-width: 760px) {
    line-height: 1.5;
    font-size: 1.1rem;
  }
  @media (min-width: 1080px) {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 2;
    transform: skew(15deg);
  }
}

// BOX 3 RULES

.indiv-box-three {
  height: auto;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  position: relative;
  @media (min-width: 1080px) {
    min-width: 30rem;
  }
}

.indiv-headline-box-three {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  // margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 3rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-15deg);
  @media (min-width: 420px) {
    height: 4rem;
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 2rem;
    text-align: center;
    transform: translateX(17rem) skew(-15deg);
  }
}

.indiv-img__three {
  position: absolute;
  width: 75%;
  top: 15vh;
  left: -1vw;
  @media (min-width: 1080px) {
    top: 2vh;
    left: 50vw;
    width: 40%;
    padding-bottom: 10rem;
  }
}

.indiv-par-box-three {
  padding: 1.5rem 0;
  height: auto;
  width: 90%;
  z-index: 1;
  margin-top: 10vh;
  background-color: rgba(149, 216, 216, 0.774);
  border-radius: 5px;
  @media (min-width: 640px) {
    height: 55%;
  }
  @media (min-width: 1080px) {
    margin-top: 3vh;
    padding: 1rem 2.5rem 1rem 4rem;
    height: 85%;
    width: 100%;
    transform: skew(-15deg);
    border-radius: 5px;
  }
}

.indiv-par-three {
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 0.5rem 0;
  line-height: 1.3;
  font-size: 0.85rem;
  @media (min-width: 640px) {
    line-height: 1.3;
    font-size: 1rem;
  }
  @media (min-width: 760px) {
    line-height: 1.5;
    font-size: 1.1rem;
  }
  @media (min-width: 1080px) {
    text-align: left;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    transform: skew(15deg);
  }
}

// BOX 4 RULES

.indiv-box-four {
  height: auto;
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  @media (min-width: 1080px) {
    min-width: 30rem;
  }
}

.indiv-headline-box-four {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  // margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 3rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-15deg);
  @media (min-width: 420px) {
    height: 4rem;
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 2rem;
    text-align: center;
    transform: translateX(17rem) skew(-15deg);
  }
}

.indiv-img__four {
  position: absolute;
  height: 45%;
  transform: translateY(0rem);
  top: 2vh;
  //   transition: transform 0.1s
  @media (min-width: 1080px) {
    width: 90%;
    padding-bottom: 10rem;
    transform: translateX(30rem);
  }
}

.indiv-par-box-four {
  padding: 1.5rem 0;
  height: auto;
  width: 90%;
  z-index: 1;
  margin-top: 10vh;
  background-color: rgba(149, 216, 216, 0.774);
  border-radius: 5px;
  @media (min-width: 640px) {
    height: 55%;
  }
  @media (min-width: 1080px) {
    margin-top: 3vh;
    padding: 1rem 2.5rem 1rem 4rem;
    height: 85%;
    width: 100%;
    transform: skew(-15deg);
    border-radius: 5px;
  }
}

.indiv-par-four {
  margin: 0.5rem 2rem 0.5rem 2rem;
  padding: 0.5rem 0;
  line-height: 1.3;
  font-size: 0.85rem;
  @media (min-width: 640px) {
    line-height: 1.3;
    font-size: 1rem;
  }
  @media (min-width: 760px) {
    line-height: 1.5;
    font-size: 1.1rem;
  }
  @media (min-width: 1080px) {
    text-align: left;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
    transform: skew(15deg);
  }
}
