// WELCOME SECTION

.welcome-section {
  padding-top: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  min-height: 92vh;
  overflow: hidden;
  background: var(--intro-section-bg), url('../images/light-speed.jpg') center / cover no-repeat border-box;

  @media (min-width: 1080px) {
    flex-direction: row;
  }
}

.welcome-phrase {
  font-size: 1.8rem;
  font-weight: 700;
  margin: auto;
  text-align: center;
  filter: drop-shadow(-10px 10px 4px var(--headlines-shadow));

  @media (min-width: 640px) {
    font-size: 2.6rem;
  }

  @media (min-width: 1080px) {
    font-size: 3rem;
  }
}

.welcome-3d-container {
  display: flex;
  justify-content: center;
  margin: auto;
  min-height: 12rem;
  min-width: 40%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 30rem;
  perspective-origin: 50% 50%;

  @media (min-width: 640px) {
    min-height: 20rem;
    transform: scale(1.2);
  }

  @media (min-width: 1080px) {
    min-height: 20rem;
    transform: scale(1.3);
  }
}

.vertical-rotation__div {
  margin: auto;
  transform-style: preserve-3d;
  animation: rotationY 4s cubic-bezier(0.86, 0.57, 0.24, 0.49) infinite forwards;
  // filter: drop-shadow(5px 5px 5px black);
}

.spin-logo__div {
  position: relative;
  margin: auto;
  transform-style: preserve-3d;
  width: 18rem;
  height: 4rem;
  transform: rotateX(10deg);
  animation: rotation 8s cubic-bezier(0.71, -1.05, 0.34, 2.38) infinite forwards;
  // &:active {
  //   animation: rotation 4s linear infinite forwards;
  // }
}

.spin-image {
  width: 18rem;
  height: 5rem;
}

.spin-logo {
  position: absolute;
  width: 16rem;
  height: 4rem;
  transform: translateZ(1rem) translateX(1rem);
  background-color: var(--logo-bg);
  // background-color: yellow;
  box-shadow: 0px 0px 6px var(--logo-image-shadow);
}

.spin-logo2 {
  position: absolute;
  width: 16rem;
  height: 4rem;
  transform: rotateX(180deg) rotateZ(180deg) translateZ(1rem) translateX(-1rem);
  background-color: var(--logo-bg);
  box-shadow: 0px 0px 6px var(--logo-image-shadow);
}

.spin-logo__side {
  position: absolute;
  height: 4rem;
  width: 2rem;
  transform: rotateY(90deg) translateZ(0rem);
  background-color: var(--logo-bg);
  box-shadow: 0px 0px 6px var(--logo-image-shadow);
}

.spin-logo__side2 {
  position: absolute;
  right: 0;
  height: 4rem;
  width: 2rem;
  transform: rotateY(90deg) translateZ(0rem);
  background-color: var(--logo-bg);
  box-shadow: 0px 0px 6px var(--logo-image-shadow);
}

.spin-logo__top {
  position: absolute;
  width: 16rem;
  height: 2rem;
  transform: rotateX(90deg) translateZ(1rem) translateX(1rem);
  background-color: var(--logo-bg);
  box-shadow: 0px 0px 6px var(--logo-image-shadow);
}

.spin-logo__bottom {
  position: absolute;
  width: 16rem;
  height: 2rem;
  transform: rotateX(90deg) translateZ(-3rem) translateX(1rem);
  background-color: var(--logo-bg);
  box-shadow: 0px 0px 6px var(--logo-image-shadow);
}

@keyframes rotation {
  0% {
    transform: rotateX(10deg);
  }
  25% {
    transform: rotateX(360deg);
  }
  50% {
    transform: rotateX(730deg);
  }
  75% {
    transform: rotateX(710deg);
  }
  100% {
    transform: rotateX(730deg);
  }
}

@keyframes rotationY {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

// ADVERTISEMENT SECTION

.advert__sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 100%;
  margin: 0.5rem auto;
}

.advert__section {
  min-height: 92vh;
  width: 100%;
  // max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem auto;
  background-color: var(--section-bg);
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
}

.advert__section--headline {
  width: 86%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem auto;
  transition: transform 0.5s linear;
  filter: drop-shadow(0px 3px 4px var(--headlines-shadow));

  @media (min-width: 640px) {
    padding-top: 1rem;
    font-size: 1.45rem;
  }

  @media (min-width: 1080px) {
    padding-top: 3rem;
    font-size: 2rem;
  }
}

.advert__section--details {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
  // filter: drop-shadow(0 1px 1px inset var(--icons-headlines-shadow));

  @media (min-width: 1080px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
  }
}

// .advert__section--image-container {
//   display: flex;
//   justify-content: center;
//   width: 85vw;
//   max-width: 35rem;
//   overflow: hidden;
//   // max-height: calc(85vw / 2);
//   transition: transform 0.5s linear;
//   // transform: skew(10deg);
//   // box-shadow: 0 0 8px var(--logo-image-shadow);

//   @media (min-width: 1080px) {
//     min-width: 50%;
//     margin: auto;
//   }
// }

// .advert__section--image {
//   margin: 0.5rem 0;
//   max-width: 95%;
//   box-shadow: 0 0 8px var(--logo-image-shadow);
//   // transform: skew(-10deg) scale(1.2);

//   @media (min-width: 1080px) {
//     width: 90%;
//     max-width: 40rem;
//     height: auto;
//     box-shadow: 5px 5px 5px var(--logo-image-shadow);
//   }
// }

.blurred {
  filter: blur(10px);
}

.advert__section--text-container {
  width: 86vw;
  text-align: center;
  margin: 1rem auto;
  line-height: 1.6;
  transition: transform 0.5s linear;

  @media (min-width: 1080px) {
    min-width: 50%;
    padding-left: 2rem;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: right;
  }
}

.advert__section--text {
  display: block;

  @media (min-width: 1080px) {
    max-width: 45rem;
    padding-left: 4rem;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: left;
  }
}

@media (min-width: 1080px) {
  .advert__section--details__central {
    flex-direction: row;
    & .advert__section--text-container p {
      text-align: right;
      padding-right: 4rem;
    }
  }
}

// MAIN SECTION

.sec {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: max-content;
  min-height: 92vh;
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;

  @media (min-width: 1080px) {
    overflow-x: visible;
    justify-content: space-around;
  }
}

.arrow-container {
  position: absolute;
  height: 15rem;
  top: 30vh;
  z-index: 2;
  opacity: 0.05;
  transition: opacity 0.2s linear;

  @media (min-width: 1080px) {
    display: none;
  }

  @media (max-height: 640px) {
    top: 15%;
  }
}

.l-arrow {
  height: 15rem;
  width: 3rem;
}

.arrow-left--container {
  left: 2vw;
}

.arrow-right--container {
  right: 2vw;
}

.sec__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 97vw;
  margin: 0 1.5vw;
  padding: 2rem 0;
  max-width: 100%;
  min-height: 92vh;
  height: fit-content;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

#about-me {
  top: 0;
  left: 0;
  transform: translateX(0);
  background: var(--main-sections-bg), url('../images/bg-me.jpg') center / cover no-repeat border-box;
}

#learning {
  transform: translateX(100vw);
  background: var(--main-sections-bg), url('../images/bg-learning.jpg') center / cover no-repeat border-box;
}

#projects {
  transform: translateX(200vw);
  background: var(--main-sections-bg), url('../images/bg-projects.jpg') center / cover no-repeat border-box;
}

#experience {
  transform: translateX(300vw);
  background: var(--main-sections-bg), url('../images/bg-experience.jpg') center / cover no-repeat border-box;
}

@media (min-width: 1080px) {
  .sec__main {
    position: static;
    transform: translateX(0) !important;
    width: 24vw;
    margin: 0;
    max-width: 24.8%;
  }
}

@media (min-width: 1080px) and (orientation: landscape) {
  .sec__main {
    position: static;
    transform: translateX(0);
    width: 24vw;
    margin: 0;
    max-width: 24.8%;
  }
}

#about-me.lazy-bg {
  // background-image: none;
  background-image: var(--main-sections-bg);
}
#learning.lazy-bg {
  // background-image: none;
  background-color: var(--main-sections-bg);
}
#projects.lazy-bg {
  // background-image: none;
  background-image: var(--main-sections-bg);
}
#experience.lazy-bg {
  // background-image: none;
  background-image: var(--main-sections-bg);
}

.sec__icon-container {
  opacity: 0.8;
  transition: all 0.5s linear;

  @media (min-width: 1080px) {
    width: 100%;
  }

  @media (max-height: 640px) {
    display: none;
  }
}

.zoomed {
  transform: scale(1.03);
}

.sec__icon {
  height: 12rem;
  filter: drop-shadow(-20px 20px 8px var(--icons-shadow));

  @media (min-width: 1080px) {
    display: block;
    height: auto;
    width: 70%;
    max-width: 8rem;
    margin: 2rem auto;
  }
}

.sec__description {
  color: inherit;
  margin: 0 3rem;

  @media (min-width: 1080px) {
    text-align: center;
    margin: 1.5rem auto;
    padding: 0.25rem;
  }
}

.sec__description p {
  line-height: 1.6;
  transition: all 0.5s linear;
}

.sec__description--title {
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.5s linear;
}

.sec__description--text {
  @media (min-width: 740px) {
    font-size: 1.1rem;
  }
  @media (min-width: 1080px) {
    font-size: 1.1rem;
  }
}

.sec__learn-more {
  width: inherit;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
}

.sec__learn-more--phrase {
  margin: auto 0;
  visibility: visible;
  opacity: 1;

  @media (min-width: 1080px) and (hover: hover) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s;
    transition: opacity 0.4s ease-in-out 0.1s;
  }
}

.sec__btn {
  position: relative;
  border: none;
  background-color: transparent;
  padding-right: 3rem;
  margin: 0.5rem;
  cursor: pointer;

  @media (min-width: 1080px) and (hover: hover) {
    margin-left: 0;
    padding-right: 2rem;
    padding-left: 3rem;
  }
}

@media (min-width: 1080px) {
  .sec__btn:hover > .sec__btn--arrow {
    transform: translateX(0.1rem) rotateX(180deg) scale(0.8);
  }

  .sec__btn:hover > .sec__btn--circle {
    transform: scale(1.3);
  }

  .sec__btn-link:hover ~ .sec__learn-more--phrase {
    visibility: visible;
    opacity: 1;
  }
}

.sec__btn--arrow {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  transform: scale(0.7) translateX(0.2rem);

  @media (min-width: 1080px) and (hover: hover) {
    transform: scale(1) translateX(-4rem);
    transition: transform 0.5s ease-in-out;
  }

  // @media (max-height: 640px) {
  //   top: 0;
  // }
}

.sec__btn--circle {
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.5s ease-in-out;

  @media (min-width: 1080px) and (hover: hover) {
    transition: transform 0.5s ease-in-out;
    transform: scale(0.7);
  }
}

// GENERAL CLASSES FOR JS

.section-hidden {
  opacity: 0;
  transform: translateY(2.5rem);
}

// GRID IMAGES RELATED RULES

.advert__section--image-container {
  display: flex;
  justify-content: center;
  width: 85vw;
  max-width: 35rem;
  overflow: hidden;
  transition: transform 0.5s linear;
  transform-style: preserve-3d;
  perspective-origin: 75% 35%;
  perspective: 25rem;

  @media (min-width: 1080px) {
    min-width: 50%;
    margin: auto;
  }
}

.mp-image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transform-style: preserve-3d;
  transform: rotateY(-12deg) scale(0.8);
  margin-right: 2rem;

  @media (min-width: 1080px) {
    transform: rotateY(-12deg) scale(0.75);
  }
}

.mp-image-grid__central {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transform-style: preserve-3d;
  transform: rotateY(15deg) scale(0.8);
  // margin-left: 4rem;

  @media (min-width: 1080px) {
    transform: rotateY(15deg) scale(0.75);
  }
}

.advert__section--image {
  max-width: 100%;

  @media (min-width: 1080px) {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px 5px var(--logo-image-shadow);
  }
}

.advert__section--image__central {
  margin-left: 1rem;
  max-width: 100%;

  @media (min-width: 1080px) {
    width: 100%;
    max-width: 100%;
    height: auto;
    box-shadow: -5px 5px 5px var(--logo-image-shadow);
    margin-left: 6rem;
    margin-bottom: 0.5rem;
  }
}

.mp__one-one {
  animation: front-back-1 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-two {
  animation: back-front-3 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-three {
  animation: back-only 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-four {
  animation: front-only 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.mp__one-five {
  animation: back-front-1 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-six {
  animation: front-back-3 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-seven {
  animation: back-front-2 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-eight {
  animation: move-right 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__one-nine {
  animation: move-left 12s cubic-bezier(0.35, 0.8, 0, 1.02) 2s infinite forwards;
}

.mp__two-one {
  animation: back-front-2-central 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-two {
  animation: move-down 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-three {
  animation: front-only-central 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-four {
  animation: back-only-central 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.mp__two-five {
  animation: back-front-fast-central 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-six {
  animation: back-front-1-central 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-seven {
  animation: back-front-3-cetral 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-eight {
  animation: move-up 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__two-nine {
  animation: front-only-central 15s cubic-bezier(1, -0.34, 0.02, 1.46) 2s infinite forwards;
}

.mp__three-one {
  animation: back-front-1 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-two {
  animation: front-only 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-three {
  animation: move-left 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-four {
  animation: back-only 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

.mp__three-five {
  animation: back-front-3 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-six {
  animation: front-back-1 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-seven {
  animation: back-front-2 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-eight {
  animation: front-only 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

.mp__three-nine {
  animation: move-up 14s cubic-bezier(0.38, -1.29, 0.21, 1.31) 2s infinite forwards;
}

@keyframes back-front-1 {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(-0.4rem);
  }
  75% {
    transform: translateZ(1rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-front-1-central {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(-1.4rem);
  }
  60% {
    transform: translateZ(1.4rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-front-fast-central {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(-1.5rem);
  }
  55% {
    transform: translateZ(1rem);
  }
  60% {
    transform: translateZ(-1.5rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-front-2 {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  30% {
    transform: translateZ(-0.2rem);
  }
  60% {
    transform: translateZ(0.7rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-front-2-central {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  30% {
    transform: translateZ(-0.2rem);
  }
  60% {
    transform: translateZ(0.7rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes front-back-1 {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  40% {
    transform: translateZ(0.4rem);
  }
  70% {
    transform: translateZ(-0.6rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes front-back-2 {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  40% {
    transform: translateZ(1rem);
  }
  75% {
    transform: translateZ(-0.5rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes front-only {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(1.6rem);
  }
  35% {
    transform: translateZ(1.2rem);
  }
  70% {
    transform: translateZ(1.6rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes front-only-central {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(1.6rem);
  }
  35% {
    transform: translateZ(0.3rem);
  }
  70% {
    transform: translateZ(0.9rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-only {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  20% {
    transform: translateZ(-1.3rem);
  }
  25% {
    transform: translateZ(-0.2rem);
  }
  70% {
    transform: translateZ(-1rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-only-central {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  20% {
    transform: translateZ(-1.3rem);
  }
  25% {
    transform: translateZ(-0.2rem);
  }
  70% {
    transform: translateZ(-1rem);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes front-back-3 {
  0% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(1.3rem);
  }
  50% {
    transform: translateZ(0.2rem);
  }
  90% {
    transform: translateZ(0.8rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-front-3 {
  0% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(-1.1rem);
  }
  50% {
    transform: translateZ(1.2rem);
  }
  90% {
    transform: translateZ(0.3rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes back-front-3-central {
  0% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  25% {
    transform: translateZ(-1.1rem);
  }
  50% {
    transform: translateZ(1.2rem);
  }
  90% {
    transform: translateZ(0.3rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes move-right {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  12% {
    transform: translateZ(0.9rem);
  }
  25% {
    transform: translateZ(0.9rem) translateX(100%);
  }
  37% {
    transform: translateZ(0rem) translateX(100%);
  }
  50% {
    transform: translateZ(-0.9rem) translateX(100%);
  }
  62% {
    transform: translateZ(-0.9rem) translateX(0);
  }
  75% {
    transform: translateZ(-0.9rem) translateX(0);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes move-left {
  0% {
    transform: translateZ(0);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  12% {
    transform: translateZ(-0.9rem);
  }
  25% {
    transform: translateZ(-0.9rem) translateX(-100%);
  }
  37% {
    transform: translateZ(0rem) translateX(-100%);
  }
  50% {
    transform: translateZ(0.9rem) translateX(-100%);
  }
  62% {
    transform: translateZ(0.9rem) translateX(0);
  }
  75% {
    transform: translateZ(0.9rem) translateX(0);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: 5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes move-up {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  12% {
    transform: translateZ(-1.2rem);
  }
  24% {
    transform: translateZ(-1.2rem) translateY(-200%);
  }
  30% {
    transform: translateZ(1.2rem) translateY(-200%);
  }
  36% {
    transform: translateZ(1.2rem) translateY(0);
  }
  40% {
    transform: translateZ(-1.2rem) translateY(0);
  }
  75% {
    transform: translateZ(0.2rem) translateX(0);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}

@keyframes move-down {
  0% {
    transform: translateZ(0);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  12% {
    transform: translateZ(1.2rem);
  }
  24% {
    transform: translateZ(1.2rem) translateY(200%);
  }
  30% {
    transform: translateZ(-1.2rem) translateY(200%);
  }
  36% {
    transform: translateZ(-1.2rem) translateY(0);
  }
  40% {
    transform: translateZ(1.2rem) translateY(0);
  }
  75% {
    transform: translateZ(0.2rem) translateX(0);
  }
  90% {
    transform: translateZ(0rem);
    box-shadow: -5px 5px 8px var(--logo-image-shadow);
  }
  100% {
    transform: translateZ(0rem);
    box-shadow: none;
  }
}
