.advert__sections {
  color: map-get($colors, 'night-theme-secondary');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  max-width: 100%;
  margin: 0.5rem auto;
}

.advert__section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem auto;
  background-color: rgba(219, 232, 255, 0.75);
  height: 90vh;
  transition: background-color 0.5s ease;
}

.advert__section--headline {
  width: 86%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 2rem auto;
  transition: transform 0.5s linear;

  @media (min-width: 1080px) {
    padding-top: 3rem;
    font-size: 1.6rem;
  }
}

.advert__section--details {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;

  @media (min-width: 1080px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'text image';
    justify-content: space-around;
    align-items: center;
    max-width: 95%;
    height: 80%;
  }
}

.advert__section--image-container {
  margin: auto;
  width: 40rem;
  height: 20rem;
  max-width: 85vw;
  max-height: calc(85vw / 2);
  box-shadow: 3px 3px 3px #263dd4;
  transition: transform 0.5s linear;

  @media (min-width: 1080px) {
    height: 70%;
    box-shadow: 5px 5px 5px #263dd4;
  }
}

.image__front {
  background: linear-gradient(to left bottom, rgba(3, 32, 252, 0.4), rgba(244, 252, 3, 0.4)),
    url('../images/img-front-end.jpg') center / cover no-repeat border-box;
}
.image__back {
  background: linear-gradient(to left top, rgba(94, 252, 3, 0.4), rgba(244, 252, 3, 0.4)),
    url('../images/img-back-end.jpg') center / cover no-repeat border-box;
}
.image__full {
  background: linear-gradient(rgba(55, 214, 250, 0.4), rgba(250, 126, 55, 0.4)),
    url('../images/img-full-stack.jpg') center / cover no-repeat border-box;
}

.advert__section--text-container {
  width: 86%;
  text-align: center;
  margin: 1rem auto;
  line-height: 1.6;
  transition: transform 0.5s linear;

  @media (min-width: 1080px) {
    padding-left: 2rem;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: right;
  }
}

@media (min-width: 1080px) {
  .advert__section--details__central {
    & .advert__section--image-container {
      grid-area: image;
    }
    & .advert__section--text-container {
      grid-area: text;
      text-align: left;
    }
  }
}

.advert__section--text {
  display: block;
}

// MAIN SECTION

.sec {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 90vh;

  @media (min-width: 1080px) {
    overflow-x: visible;
    justify-content: space-around;
  }
}

.arrow-container {
  position: absolute;
  height: 20vh;
  top: 30vh;
  z-index: 2;
  opacity: 0.07;
  transition: opacity 0.2s linear;

  @media (min-width: 1080px) {
    display: none;
  }
}

.arrow-left--container {
  left: 2vw;
}

.arrow-right--container {
  right: 2vw;
}

.sec__main {
  color: map-get($colors, 'night-theme-secondary');
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 97vw;
  margin: 0 1.5vw;
  max-width: 100%;
  height: 90vh;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease-in-out;
}

.about-me {
  top: 0;
  left: 0;
  transform: translateX(0);
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)),
    url('../images/bg-me.jpg') center / cover no-repeat border-box;
}

.learning {
  transform: translateX(100vw);
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)),
    url('../images/bg-learning.jpg') center / cover no-repeat border-box;
}

.projects {
  transform: translateX(200vw);
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)),
    url('../images/bg-projects.jpg') center / cover no-repeat border-box;
}

.experience {
  transform: translateX(300vw);
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)),
    url('../images/bg-experience.jpg') center / cover no-repeat border-box;
}

@media (min-width: 1080px) {
  .sec__main {
    position: static;
    transform: translateX(0);
    width: 24vw;
    margin: 0;
    max-width: 23%;
  }
}

.sec__icon-container {
  opacity: 0.8;
  transition: all 0.5s linear;

  @media (min-width: 1080px) {
    width: 100%;
  }
}

.zoomed {
  transform: scale(1.05);
}

.sec__icon {
  height: 12rem;

  @media (min-width: 1080px) {
    display: block;
    height: auto;
    width: 70%;
    max-width: 8rem;
    margin: 2rem auto;
  }
}

.sec__description {
  color: inherit;
  margin: 0 3rem;

  @media (min-width: 1080px) {
    text-align: center;
    margin: 1.5rem auto;
    padding: 0.25rem;
  }
}

.sec__description p {
  line-height: 1.6;
  transition: all 0.5s linear;

  @media (min-width: 1080px) {
    line-height: 1.6;
  }
}

.sec__description--title {
  font-size: 1.5rem;
  font-weight: 700;
  transition: all 0.5s linear;
}

.sec__learn-more {
  width: inherit;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
}

.sec__learn-more--phrase {
  @media (min-width: 1080px) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s;
    transition: opacity 0.4s ease-in-out 0.1s;
  }
}

.sec__btn {
  border: none;
  background-color: transparent;
  position: relative;
  margin-right: 1rem;
  // max-width: 3rem;

  @media (min-width: 768px) {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 3rem;
  }

  @media (min-width: 1080px) {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 0;
  }
}

@media (min-width: 1080px) {
  .sec__btn:hover > .sec__btn--arrow {
    transform: translateX(2.5rem);
  }

  .sec__btn:hover > .sec__btn--circle {
    transform: perspective(20rem) translateZ(1rem);
  }

  .sec__btn:hover ~ .sec__learn-more--phrase {
    visibility: visible;
    opacity: 1;
  }
}

.sec__btn--arrow {
  position: absolute;
  height: 2.2rem;
  top: calc(50% - 1.1rem);
  transform: translateX(2.5rem);

  @media (min-width: 1080px) {
    position: absolute;
    height: 2.2rem;
    transform: translateX(-2rem);
    transition: transform 0.5s ease-in-out;
  }
}

.sec__btn--circle {
  height: 3rem;
  padding: 0 2rem;
  transition: transform 0.5s ease-in-out;

  @media (min-width: 1080px) {
    height: 3rem;
    padding: 0 2rem;
    transition: transform 0.5s ease-in-out;
    transform: perspective(20rem) translateZ(-7rem);
  }
}
