.intro-part {
  position: relative;
  margin-bottom: 1rem;
  height: 92vh;
  min-height: 20rem;
  background-image: var(--intro-section-bg);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }

  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }
}

.intro-part__glass {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.intro-part__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  text-align: center;

  @media (min-width: 640px) {
    font-size: 2.6rem;
  }

  @media (min-width: 1080px) {
    font-size: 3rem;
  }
}

.intro-part__text {
  filter: drop-shadow(0px 0px 4px var(--icons-shadow));
}

.intro-part__icon-box {
  min-height: 8rem;
  min-width: 8rem;
  perspective: 20rem;
  perspective-origin: 50% 0%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    margin-right: 1rem;
  }

  @media (min-width: 1080px) {
    margin-right: 6rem;
  }
}

.intro-part__icon {
  height: 8rem;
  width: 8rem;
  filter: drop-shadow(0px 0px 8px var(--icons-shadow));

  @media (min-width: 640px) {
    height: 9rem;
    width: 9rem;
  }
  @media (min-width: 1080px) {
    height: 10rem;
    width: 10rem;
  }

  @media (min-width: 1380px) {
    height: 14rem;
    width: 14rem;
  }
}

.pr-main-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 92vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--section-bg);
  @media (min-width: 1080px) and (hover: hover) {
    perspective-origin: 50% 25%;
    perspective: 100rem;
  }
}

.pr-main__project-name {
  display: none;
  @media (min-width: 1080px) and (hover: hover) {
    display: block;
    margin-bottom: auto;
    padding-top: 1rem;
    margin: 1rem auto 1rem;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 6rem;
  }
}

.switch-format__btn-box {
  display: none;
  @media (hover: hover) {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
  }
}

.pr-general-view {
  position: static;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  @media (min-width: 640px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (min-width: 1080px) and (hover: hover) {
    padding: 0;
    position: absolute;
    width: 0;
    left: 50%;
    top: 27%;
    transform-style: preserve-3d;
    transition: transform 0s;
  }
}

.nowheel {
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4rem;
  width: 100vw;
  max-width: 100%;
}

.justadiv {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 31rem;
  align-items: center;
  margin: 1.5rem;
  position: relative;
  padding-bottom: 2rem;
  border-radius: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.493);
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    left: -12vw;
    width: 24vw;
    // background-color: #596be22c;
    transform-style: preserve-3d;
    padding: 0;
    height: 30vh;
    border-radius: 0.8rem;
  }
}

.back-side {
  background-color: aqua;
  position: absolute;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
  backface-visibility: hidden;
}

.nowheel__divs {
  @media (min-width: 1080px) and (hover: hover) {
    border-radius: 0;
    position: relative;
    width: 95%;
    max-width: 31rem;
    padding-bottom: 2rem;
    left: 0vw;
    height: auto;
    margin: 1.5rem;
  }
}

.justadiv__project-name {
  display: block;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 1rem;
  width: 100%;
  background-color: var(--section-bg);
  filter: drop-shadow(0 0 6px var(--headlines-shadow));
  @media (min-width: 640px) {
    font-size: 1.3rem;
  }
  @media (min-width: 740px) {
    font-size: 1.4rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    display: none;
  }
}

.justadiv__content {
  position: relative;
  display: flex;
  margin: auto;
  width: 100%;
  @media (min-width: 1080px) and (hover: hover) {
    height: 90%;
    transform-style: preserve-3d;
  }
}

/////////////// INDIVIDUAL PROJECT BOX STYLES ////////////////

////////////// MAPTY

.jad-mapty .back-side {
  background-color: #738385de;
  // background-image: linear-gradient(to top, #323f46, #d4ede4);
}

.jad-mapty-image-container {
  margin: 15% auto 2% auto;
}

.jad-mapty-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

.jad-mapty-image-two-container {
  top: -30%;
  right: 15%;
  width: 30%;
}

.jad-mapty-image-two {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

////////////// BANKIST

.jad-bankist .back-side {
  background-color: #ebeeebc9;
}

.jad-bankist-image-container {
  margin: 12% auto;
}

.jad-bankist-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

.jad-bankist-image-two-container {
  top: -20%;
  left: 15%;
  width: 50%;
}

.jad-bankist-image-two {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

.jad-bankist-image-three-container {
  bottom: -20%;
  right: 15%;
  width: 50%;
}

.jad-bankist-image-three {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
  backface-visibility: hidden;
}

///////////// BANKIST APP

.jad-bankist-app .back-side {
  background-color: #ede8dad5;
}

.jad-bankist-app-image-container {
  margin: 2% auto;
}

.jad-bankist-app-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

///////// NATOURS

.jad-natours .back-side {
  background-color: #c2dfccce;
}

.jad-natours-image-container {
  margin: 12% auto 2% auto;
}

.jad-natours-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

.jad-natours-image-two-container {
  top: -20%;
  left: 10%;
  width: 50%;
}

.jad-natours-image-two {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

//////// FORKIFY

.jad-forkify .back-side {
  background-color: #fbcb95d5;
}

.jad-forkify-image-container {
  margin: 15% auto 12% auto;
}

.jad-forkify-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

.jad-forkify-image-two-container {
  top: -30%;
  right: 8%;
  width: 30%;
}

.jad-forkify-image-two {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

.jad-forkify-image-three-container {
  bottom: -20%;
  left: 8%;
  width: 50%;
}

.jad-forkify-image-three {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

////// CONNECT FOUR

.jad-connect .back-side {
  background-color: #fab24dd0;
}

.jad-connect-image-container {
  margin: 12% auto 2% auto;
}

.jad-connect-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

.jad-connect-image-two-container {
  top: -15%;
  left: 5%;
  width: 50%;
}

.jad-connect-image-two {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

///////// PIG GAME

.jad-piggame .back-side {
  background-color: #af1e56dc;
}

.jad-piggame-image-container {
  margin: 2% auto;
}

.jad-piggame-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

/////// PORTFOLIO WEBSITE

.jad-portfolio .back-side {
  background-color: #b1bcece3;
}

.jad-portfolio-image-container {
  margin: 15% auto;
}

.jad-portfolio-image {
  width: 92%;
  box-shadow: 0 0 8px black;
}

.jad-portfolio-image-two-container {
  bottom: -25%;
  right: 10%;
  width: 25%;
}

.jad-portfolio-image-two {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

.jad-portfolio-image-three-container {
  top: -35%;
  left: 10%;
  width: 25%;
}

.jad-portfolio-image-three {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

.jad-portfolio-image-four-container {
  top: -25%;
  right: 5%;
  width: 50%;
}

.jad-portfolio-image-four {
  width: 85%;
  border-radius: 0.4rem;
  box-shadow: 0 0 12px black;
}

///// GENERAL JUSTADIV PARAMETERS

.jad__content-main-img__container {
  position: relative;
  @media (min-width: 1080px) and (hover: hover) {
    margin: auto;
    transform-style: preserve-3d;
    transition: transform 1s ease-out;
  }
}

.nowheel__main-img-container {
  margin: 13% auto !important;
  transition: transform 0ms;
}

.jad__content-main-img {
  margin: auto;
  display: block;
  border-radius: 0.2rem;
  transform: translateZ(0.1rem);
  // backface-visibility: hidden;
  @media (min-width: 1080px) and (hover: hover) {
  }
}

.jad__content-secondary-img__container {
  position: absolute;
  @media (min-width: 1080px) and (hover: hover) {
    transition: transform 2s ease-out, opacity 0.8s linear;
    opacity: 0;
    transform: translateZ(0.1rem);
  }
}

.nowheel__secondary-img-container {
  opacity: 1 !important;
  transition: transform 0ms;
}

.jad__content-secondary-img {
  margin: auto;
  display: block;
  @media (min-width: 1080px) and (hover: hover) {
  }
}

////// ELEMENTS THAT SUPPORT WHEEL ANIMATION

.draggedover-div {
  display: none;
  @media (min-width: 1080px) and (hover: hover) {
    display: block;
    position: absolute;
    width: 100%;
    height: 80%;
    top: 20%;
    background-color: transparent;
    z-index: 2;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
.dragged-div {
  display: none;
  @media (min-width: 1080px) and (hover: hover) {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    z-index: 2;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
