.intro-part {
  position: relative;
  margin-bottom: 1rem;
  height: 92vh;
  min-height: 20rem;
  background-image: var(--intro-section-bg);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }

  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }
}

.intro-part__glass {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.intro-part__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  text-align: center;

  @media (min-width: 640px) {
    font-size: 2.6rem;
  }

  @media (min-width: 1080px) {
    font-size: 3rem;
  }
}

.intro-part__text {
  filter: drop-shadow(0px 0px 4px var(--icons-shadow));
}

.intro-part__icon-box {
  min-height: 8rem;
  min-width: 8rem;
  perspective: 20rem;
  perspective-origin: 50% 0%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    margin-right: 1rem;
  }

  @media (min-width: 1080px) {
    margin-right: 6rem;
  }
}

.intro-part__icon {
  height: 8rem;
  width: 8rem;
  filter: drop-shadow(0px 0px 8px var(--icons-shadow));

  @media (min-width: 640px) {
    height: 9rem;
    width: 9rem;
  }
  @media (min-width: 1080px) {
    height: 10rem;
    width: 10rem;
  }

  @media (min-width: 1380px) {
    height: 14rem;
    width: 14rem;
  }
}

.pr-main-section {
  @media (min-width: 1080px) and (hover: hover) {
    position: relative;
    display: flex;
    height: 92vh;
    width: 100vw;
    max-width: 100%;
    background-color: var(--section-bg);
    perspective-origin: 50% calc(50%);
    perspective: 100rem;
  }
}

.draggedover-div {
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
    background-color: transparent;
    z-index: 2;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
.dragged-div {
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    z-index: 2;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}

// .grabbing {
//   cursor: url('./images.grabbing.png') !important;
// }

.pr-general-view {
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    background-color: blue;
    left: 50%;
    top: 35%;
    transform-style: preserve-3d;
  }
}

.justadiv {
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    left: -12vw;
    width: 24vw;
    height: calc(92vh * 0.3);
    background-color: wheat;
    transform: rotateY(15deg);
  }
}

.pr-image {
  height: 6rem;
}
