.intro-part {
  position: relative;
  margin-bottom: 1rem;
  height: 92vh;
  min-height: 20rem;
  background-image: linear-gradient(to bottom, rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75));
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }

  @media (min-width: 1080px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0;
  }
}

.intro-part__text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  text-align: center;

  @media (min-width: 640px) {
    font-size: 2.6rem;
  }

  @media (min-width: 1080px) {
    font-size: 3rem;
  }
}

.intro-part__text {
  color: #0a2353;
  filter: drop-shadow(-10px 10px 4px rgba(0, 6, 37, 0.74));
}

.intro-part__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 640px) {
    margin-right: 1rem;
  }

  @media (min-width: 1080px) {
    margin-right: 6rem;
  }
}

.intro-part__icon {
  height: 8rem;
  width: 8rem;
  filter: drop-shadow(-20px 20px 8px rgba(0, 6, 37, 0.74));

  @media (min-width: 640px) {
    height: 9rem;
    width: 9rem;
  }
  @media (min-width: 1080px) {
    height: 10rem;
    width: 10rem;
  }

  @media (min-width: 1380px) {
    height: 12rem;
    width: 12rem;
  }
}

.choice-part {
  background-image: linear-gradient(to bottom, rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75));
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: space-around;
  align-items: center;
  min-height: 92vh;
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
}

.choice-part__towers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  min-height: inherit;
  overflow: hidden;

  @media (min-width: 1080px) {
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
  }
}

.choice-part__section-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding-bottom: 2rem;

  @media (min-width: 640px) {
    flex-direction: row;
  }

  @media (min-width: 1080px) {
    max-width: 80%;
  }
}

.choice-part__rev {
  flex-direction: column;
  padding-bottom: 4rem;

  @media (min-width: 640px) {
    flex-direction: row-reverse;
  }
}

.tower-description {
  padding: 0 1rem;
  margin: 2rem auto 0 auto;
  min-width: 30%;
  text-align: center;
  font-size: 1.3rem;
  transition: opacity 0.5s linear;

  @media (min-width: 640px) {
    padding-left: 2rem;
    font-size: 1.5rem;
    min-width: 40%;
  }
  @media (min-width: 1080px) {
    font-size: 2rem;
    min-width: 50%;
    margin-left: auto;
    text-align: right;
  }
}

.tower-description__rev {
  @media (min-width: 640px) {
    padding-right: 2rem;
    padding-left: 0;
    font-size: 1.5rem;
  }
  @media (min-width: 1080px) {
    font-size: 2rem;
    margin-right: auto;
    text-align: left;
    padding-left: 2rem;
  }
}

.towers {
  position: relative;
  height: 32vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 70%;
  padding-right: 3rem;
  transition: opacity 0.5s, visibility 0s 0.4s, transform 0.6s ease-in-out 0.6s;
  z-index: 1;
  transform-style: preserve-3d;

  @media (min-width: 640px) {
    min-width: 60%;
  }
  @media (min-width: 1080px) {
    min-width: 50%;
  }
}

.tower-long {
  padding-right: 4rem;
  @media (min-width: 1080px) {
  }
}

.tower__img {
  height: 9rem;
  width: 18rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 20px;
  @media (min-width: 480px) {
    height: 10rem;
    width: 20rem;
  }
  @media (min-width: 1080px) {
    height: 12rem;
    width: 24rem;
  }
}

.img-box {
  position: absolute;
  height: 60%;
  margin: 0.5rem;
  border-radius: 1rem;
  transition: transform 0.3s ease-in, opacity 0.5s, visibility 0s 0.4s;
}

.img-box__short {
  transform: translateX(40rem);
  @media (min-width: 1080px) {
    transform: translateX(55rem);
  }
}

.img-box__long {
  transform: translateX(-40rem);
  @media (min-width: 1080px) {
    transform: translateX(-55rem);
  }
}

// QUALS START HERE

.quals {
  padding: 2rem 1rem 1.5rem 1rem;
  display: none;
  // width: 96%;
  min-width: calc(96% - 2rem);
  max-width: calc(96% - 2rem);
  grid-template-columns: repeat(auto-fit, 17rem);
  grid-column-gap: 3rem;
  opacity: 0;
  transition: opacity 0.3s linear;
  justify-content: center;
  align-items: center;
  // padding-bottom: 1.5rem;
}

.quals-box {
  display: flex;
  flex-direction: column;
  width: 18rem;
  align-items: center;
  text-align: center;
  justify-self: center;
}

.quals-box__image-container {
  margin: 0.5rem;
  width: 100%;
  height: 70%;
  overflow: hidden;
  border-radius: 0.4rem;
  box-shadow: 4px 4px 5px $night-theme-secondary;
}

.quals-box__image {
  width: 18rem;
  object-fit: cover;
}

.quals-box__text {
  padding-bottom: 0.75rem;
  min-height: 3.75rem;
}

.shown-quals {
  display: flex;
  opacity: 1;
}

.close-quals-btn__box {
  display: none;
  width: 100vw;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.close-quals__btn {
  padding: 0.2rem;
  display: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  background-color: transparent;
  border-radius: 0.3rem;
  border: 1px solid $night-theme-main;
}

.xbtn-span-quals {
  position: absolute;
  top: 0.4rem;
  left: -0.2rem;
  margin: 0.2rem;
  min-height: 0.2rem;
  min-width: 1.4rem;
  background-color: $night-theme-main;
  border-radius: 5rem;
}

.edu-category {
  margin: 6rem 2.5rem 0 2.5rem;
  font-size: 1.5rem;
  display: none;
  opacity: 0;
  text-align: center;

  @media (min-width: 1080px) {
    font-size: 2rem;
  }
}

.details-section {
  // display: none;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1rem 0;
  border-radius: 0.8rem;
  border: 1px solid $night-theme-secondary;
  top: 4vh;
  left: 2vh;
  height: 93vh;
  // max-height: 98vh;
  width: calc(100% - 4vh);
  background-color: rgba(45, 63, 184, 0.6);
  z-index: 7;
  overflow-y: scroll;
  transform: translateY(3rem);
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;

  @media (min-width: 480px) {
    width: calc(90% - 4vh);
    left: calc(5% + 2vh);
  }

  @media (min-width: 640px) {
    width: calc(80% - 4vh);
    left: calc(10% + 2vh);
  }

  @media (min-width: 1080px) {
    width: 60rem;
    height: 50rem;
    max-height: 82vh;
    top: 9vh;
    left: calc(50vw - 30rem);
  }
}

.details__name-box {
  margin-bottom: 0.5rem;
}

.details__name-text {
  font-weight: 700;
  font-size: 1.2rem;
  max-height: 10%;
  color: $day-theme-main;

  @media (min-width: 860px) {
    font-size: 1.4rem;
  }

  @media (min-width: 1080px) {
    font-size: 1.8rem;
  }
}

.details__description-box {
  width: 95%;
  height: 70%;
  max-height: 70%;
  min-height: 20rem;
  background-color: rgb(161, 173, 253);
  border-radius: inherit;
  border: 1px solid $night-theme-secondary;
  overflow-y: scroll;
  margin-bottom: 0.5rem;

  @media (min-width: 480px) {
    height: 60%;
    max-height: 60%;
    width: 90%;
  }

  @media (min-width: 640px) {
    width: 85%;
  }
}

.details__desription-text {
  text-align: center;
  font-size: 0.95rem;
  padding: 0.4rem 0.5rem;
  line-height: 1.5;

  @media (min-width: 860px) {
    font-size: 1.05rem;
  }

  @media (min-width: 1080px) {
    font-size: 1.2rem;
  }
}

.details__image-box {
  min-height: 6rem;
  height: 15%;
  max-height: 15%;
  min-width: 10rem;
  width: 40%;
  max-width: 15rem;
  // background-color: red;
  border-radius: inherit;
  overflow: hidden;
  border: 1px solid $night-theme-secondary;
  object-fit: cover;

  @media (min-width: 480px) {
    min-height: 10rem;
    height: 22%;
    max-height: 22%;
    width: 60%;
    max-width: 20rem;
  }
}

.details__image {
  width: 100%;
}

.details__button-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  // padding: 0.4rem 1.7rem;
  background-color: transparent;
}

.xbtn {
  display: flex;
  flex-direction: column;
  height: 1.4rem;
  width: 1.4rem;
  position: relative;
}

.xbtn-span {
  top: 0.4rem;
  left: -0.2rem;
  position: absolute;
  margin: 0.2rem;
  min-height: 0.2rem;
  min-width: 1.4rem;
  background-color: $day-theme-background;
  border-radius: 5rem;
}

.span1 {
  transform: rotateZ(45deg);
}

.span2 {
  transform: rotateZ(-45deg);
}
