.header-menu {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  z-index: 10;
  height: 8vh;
  min-height: 4rem;
  width: 100%;
  // max-width: 3072px;
  top: 0;
  margin: auto;
  background-color: var(--main-bg);
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  transition: background-color 0.5s ease;
}

.logo-container {
  vertical-align: middle;
  margin-left: 0.7rem;
  @media (min-width: 768px) {
    margin-right: auto;
  }
}

.logo {
  margin: auto;
  // height: 4rem;
  width: 13rem;
  cursor: pointer;
  filter: drop-shadow(-3px 3px 2px var(--icons-shadow));

  @media (min-width: 640px) {
    width: 15rem;
  }
  @media (min-width: 1080px) {
    width: 16rem;
    filter: drop-shadow(-6px 6px 2px var(--icons-shadow));
  }
}

.top-menu {
  display: none;
  transition: opacity 0.3s linear;
  @media (min-width: 1080px) {
    display: flex;
  }
}

.top-menu-list {
  color: var(--font-border-color);
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: center;
  justify-content: space-between;
}

.top-menu-list li {
  text-decoration: none;
  list-style-type: none;
  // margin: auto;
  // margin: 0 2rem;
  font-size: 1.2rem;
  padding: 0 0.75rem;
  margin: 0 0.75rem;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  border-radius: 6px;

  &:hover {
    filter: drop-shadow(-5px 5px 4px var(--headlines-shadow));
    transform: translateY(-0.2rem);
  }
}

.top-menu-li-active {
  filter: drop-shadow(0px 5px 4px var(--headlines-shadow));
  background-color: var(--side-bg);
  transform: translateY(-0.2rem);
  &:hover {
    filter: drop-shadow(0px 5px 4px var(--headlines-shadow)) !important;
    background-color: var(--side-bg);
  }
}

.theme-container {
  margin: 0.5rem 3rem 0.5rem 2rem;
}

.theme-container__btn {
  position: relative;
  border: none;
  background-color: transparent;
  min-height: 1.5rem;
  min-width: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.icon__theme {
  top: 0;
  left: 0;
  position: absolute;
  height: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
  transition: transform 0.6s ease-in-out;
}

.icon__theme--day {
  transform: translate(1.5rem, 1.5rem);
}

.icon__theme--night {
  transform: translate(-1.5rem, 1.5rem);
}

.icon__theme--active {
  transform: translate(0, 0);
}

.side-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  top: 0;
  background-color: var(--side-bg);
  height: 100%;
  width: 80vw;
  z-index: 13;
  transform: translateX(-100%);
  transition: background-color 0.5s ease;
  transition: transform 0.3s ease-in-out;
}

.side-menu__out {
  transform: translateX(0);
}

.menu-list {
  padding-left: 0;
  margin-top: 4rem;
  color: var(--font-border-color);
}
.menu-list a {
  text-decoration: none;
}

.menu-list li {
  list-style-type: none;
  margin: 0 auto 1rem auto;
  padding: 0.25rem 0;
  max-width: 90%;
  text-align: center;
  line-height: 2;
  border-radius: 5px;

  filter: drop-shadow(0 4px 4px var(--headlines-shadow));

  & p {
    display: inline;
    vertical-align: middle;
    margin: auto;
    padding-right: 1rem;

    @media (min-width: 640px) {
      padding-right: 3rem;
    }
  }

  @media (min-width: 640px) {
    max-width: 80%;
  }
}

.side-menu-icon {
  display: inline;
  height: 1.7rem;
  width: 1.7rem;
  margin: auto 0.5rem auto 0;
  vertical-align: middle;
}

.side-menu__hidden-icon {
  visibility: hidden;
}

.side-menu-icon__stand-out {
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.205);
  background-color: var(--side-menu-btn-bg);
}

.side-menu__btn {
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  animation: cube-rotation 5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
  filter: drop-shadow(0 0 3px var(--icons-shadow));
  @media (min-width: 1080px) {
    display: none;
  }
}

.icon__menu {
  height: 2.5rem;
  width: 2.5rem;
  transition: transform 0.5s ease-in-out;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  min-height: 4.5rem;
  height: 8vh;
  max-height: 8rem;
  justify-content: space-around;
  align-items: center;
  transition: transform 1s ease-out, opacity 0.5s ease-out;
}

.footer-menu__expand {
  min-height: 28.5rem;
  height: calc(61vh + 2rem);
  max-height: calc(61vh + 2rem);
  // max-height: calc(53vh + 2rem + 4.5rem);
  height: auto;
  overflow-y: hidden;

  @media (min-width: 1080px) {
    min-height: calc(53vh + 2rem + 4.5rem);
  }
}

.footer-menu__buttons {
  display: flex;
  flex-direction: row;
  font-size: 1.15rem;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  max-height: 8rem;
  min-height: 4.5rem;
  width: 100%;
}

.footer-menu__buttons p {
  display: block;
  font-weight: 700;
  margin: auto;
  cursor: pointer;
}

.footer-menu__extra {
  min-height: 24.5rem;
  height: calc(53vh + 2rem);
  max-height: calc(53vh + 2rem);
  // min-height: calc(53vh + 1.3rem);
  background-color: var(--footer-bg);
  width: 100vw;
  max-width: 100%;
  position: relative;
  height: auto;
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  // overflow-y: hidden;
  @media (min-width: 1080px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.footer-menu__extra__hidden {
  display: none;
}

.footer-menu__contacts {
  // background-color: red;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  min-height: 23.5rem;
  height: calc(52vh + 1.3rem);
  left: 0;
  top: 0;
  transform: translateZ(1px);
  backface-visibility: hidden;

  & p {
    font-weight: 700;
    font-size: 1.05rem;
    text-align: center;
    padding: 0 1rem 1rem 1rem;

    @media (min-width: 1080px) {
      font-size: 1.2rem;
      margin: 2rem 0.2rem 2rem 0;
    }
  }

  @media (min-width: 1080px) {
    position: static;
    min-width: 50%;
    width: 40vw;
    transform: translate(0);
    min-height: calc(52vh + 1.3rem);
    height: 100%;
    justify-content: space-between;
  }
}

.footer-menu__form-div {
  min-height: 12.5rem;
  height: 30vh;
  min-width: 100%;
  & form {
    min-height: 12.5rem;
    margin: auto;
  }
}

.footer-menu__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15% 70% 15%;
  grid-column-gap: 0.2rem;
  grid-template-areas:
    'yourname yourcontacts yourcontacts'
    'yourmessage yourmessage yourmessage'
    '. . submitbtn';
  max-width: 35rem;
  width: 90vw;
  @media (min-width: 1080px) {
    max-width: 35vw;
  }
}

.footer-menu__form-name {
  grid-area: yourname;
  height: 1.8rem;
  width: 100%;
  margin: auto 0.2rem;
  padding-right: 0.2rem;
  &::placeholder {
    font-family: 'Comfortaa', cursive;
    font-size: 0.7rem;
    vertical-align: middle;
    padding-left: 0.2rem;
  }

  &:focus {
    // outline: none !important;
    border-color: var(--font-border-color);
  }
}

.footer-menu__form-contacts {
  grid-area: yourcontacts;
  height: 1.8rem;
  margin: auto 0.2rem;

  &::placeholder {
    font-family: 'Comfortaa', cursive;
    font-size: 0.7rem;
    vertical-align: middle;
    padding-left: 0.2rem;
  }

  &:focus {
    // outline: none !important;
    border-color: var(--font-border-color);
  }
}

.footer-menu__form-message {
  grid-area: yourmessage;
  margin: 0.2rem;
  resize: none;

  &::placeholder {
    font-family: 'Comfortaa', cursive;
    font-size: 0.7rem;
    vertical-align: middle;
    padding: 0.2rem 0 0 0.2rem;
  }

  &:focus {
    // outline: none !important;
    border-color: var(--font-border-color);
  }
}

input[type='text'] {
  padding: 0.3rem 0.2rem;
  box-sizing: border-box;
}

textarea[type='text'] {
  padding: 0.3rem 0.2rem;
  box-sizing: border-box;
}

.footer-menu__form-submit {
  grid-area: submitbtn;
  margin: 0.2rem;
  font-family: 'Comfortaa', cursive;
  font-size: 0.72rem;
  border-radius: 0.3rem;
  border: 1px solid var(--font-border-color);
  background-color: var(--logo-bg);
  color: var(--font-border-color);
  box-shadow: -1px 3px 2px var(--icons-shadow);
  min-height: 1.5rem;
  &:hover {
    box-shadow: -2px 4px 2px var(--icons-shadow);
  }
  &:active {
    box-shadow: 0px 0px 0px var(--icons-shadow);
  }
  @media (min-width: 640px) {
    font-size: 0.9rem;
  }

  @media (min-width: 1080px) {
    font-size: 1.1rem;
    min-height: 2rem;
  }
}

.label-hidden {
  display: none;
}

.footer-menu__address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  min-width: 100%;
  min-height: calc(52vh + 1.3rem);
  left: 0;
  top: 0;
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
  // background-color: yellow;

  & p {
    font-weight: 700;
    font-size: 1.05rem;
    text-align: center;
    padding: 0 1rem 1rem 1rem;

    @media (min-width: 1080px) {
      font-size: 1.2rem;
      margin: 2rem 0.2rem 2rem 0;
    }
  }

  @media (min-width: 1080px) {
    position: static;
    min-width: 50%;
    width: 40vw;
    transform: translate(0);
    height: 100%;
  }
}

.footer-menu__ad-cont-div {
  display: flex;
  margin: 1rem;
  padding-bottom: 0.5rem;

  & p {
    margin: 0;
    line-height: 1.5rem;
    font-size: 0.8rem;
    padding-left: 1rem;

    @media (min-width: 640px) {
      font-size: 0.9rem;
    }

    @media (min-width: 960px) {
      font-size: 1rem;
    }
  }

  @media (min-width: 1080px) {
    width: 30rem;
    padding-left: 6.5vw;
    margin: 0.5rem;
  }
}

.footer-menu__email-div {
  padding-left: calc((90vw - 32rem) / 2);
  padding-bottom: 2rem;
  @media (min-width: 1080px) {
    width: 30rem;
    padding-left: calc(6.5vw - 0.5rem);
    padding-bottom: 2rem;
  }
}

.footer-copyright {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  // padding: auto 1rem 1rem auto;
  margin: auto 0.1rem 1rem auto;
  & p {
    display: block;
    font-size: 0.7rem;
    line-height: 1;
    margin: auto 0 0.3rem auto;
    text-align: right;
  }
  @media (min-width: 1080px) {
    width: 20rem;
    // margin: auto 0.1rem 0.1rem auto;
    // padding: 0 1rem 1rem 0;
  }
}

.footer-menu__icon {
  height: 1.5rem;
  width: 1.5rem;
}

// .footer-extra-div__hidden {
//   visibility: hidden;
// }

.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  backdrop-filter: blur(2px);
  z-index: 11;
  transition: all 0.5s ease-in-out;
}

@keyframes cube-rotation {
  0% {
    transform: rotateZ(0deg);
    animation-play-state: running;
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(360deg);
    animation-play-state: paused;
  }
}

////////////// SVG SETTINGS ////////////////

.svg__header {
  height: 1.5rem;
  width: 1.5rem;
}

.svg__buttons {
  height: 2.5rem;
  width: 2.5rem;
  margin: auto;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
