@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap");
html {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: calc(10vh - 1rem);
  position: relative;
  margin: 0;
  background-color: #f0f6ff;
  font-family: "Comfortaa", cursive;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.advert__sections {
  color: #001392;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  max-width: 100%;
  margin: 0.5rem auto;
}

.advert__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem auto;
  background-color: rgba(219, 232, 255, 0.75);
  height: 90vh;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.advert__section--headline {
  width: 86%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 2rem auto;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

@media (min-width: 1080px) {
  .advert__section--headline {
    padding-top: 3rem;
    font-size: 1.6rem;
  }
}

.advert__section--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2rem;
}

@media (min-width: 1080px) {
  .advert__section--details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'text image';
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 95%;
    height: 80%;
  }
}

.advert__section--image-container {
  margin: auto;
  width: 40rem;
  height: 20rem;
  max-width: 85vw;
  max-height: calc(85vw / 2);
  -webkit-box-shadow: 3px 3px 3px #263dd4;
          box-shadow: 3px 3px 3px #263dd4;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

@media (min-width: 1080px) {
  .advert__section--image-container {
    height: 70%;
    -webkit-box-shadow: 5px 5px 5px #263dd4;
            box-shadow: 5px 5px 5px #263dd4;
  }
}

.image__front {
  background: -webkit-gradient(linear, right top, left bottom, from(rgba(3, 32, 252, 0.4)), to(rgba(244, 252, 3, 0.4))), url("../images/img-front-end.jpg") center/cover no-repeat border-box;
  background: linear-gradient(to left bottom, rgba(3, 32, 252, 0.4), rgba(244, 252, 3, 0.4)), url("../images/img-front-end.jpg") center/cover no-repeat border-box;
}

.image__back {
  background: -webkit-gradient(linear, right bottom, left top, from(rgba(94, 252, 3, 0.4)), to(rgba(244, 252, 3, 0.4))), url("../images/img-back-end.jpg") center/cover no-repeat border-box;
  background: linear-gradient(to left top, rgba(94, 252, 3, 0.4), rgba(244, 252, 3, 0.4)), url("../images/img-back-end.jpg") center/cover no-repeat border-box;
}

.image__full {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 214, 250, 0.4)), to(rgba(250, 126, 55, 0.4))), url("../images/img-full-stack.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(55, 214, 250, 0.4), rgba(250, 126, 55, 0.4)), url("../images/img-full-stack.jpg") center/cover no-repeat border-box;
}

.advert__section--text-container {
  width: 86%;
  text-align: center;
  margin: 1rem auto;
  line-height: 1.6;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

@media (min-width: 1080px) {
  .advert__section--text-container {
    padding-left: 2rem;
    font-size: 1.3rem;
    line-height: 1.8;
    text-align: right;
  }
}

@media (min-width: 1080px) {
  .advert__section--details__central .advert__section--image-container {
    grid-area: image;
  }
  .advert__section--details__central .advert__section--text-container {
    grid-area: text;
    text-align: left;
  }
}

.advert__section--text {
  display: block;
}

.sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 90vh;
}

@media (min-width: 1080px) {
  .sec {
    overflow-x: visible;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.arrow-container {
  position: absolute;
  height: 20vh;
  top: 30vh;
  z-index: 2;
  opacity: 0.07;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media (min-width: 1080px) {
  .arrow-container {
    display: none;
  }
}

.arrow-left--container {
  left: 2vw;
}

.arrow-right--container {
  right: 2vw;
}

.sec__main {
  color: #001392;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 97vw;
  margin: 0 1.5vw;
  max-width: 100%;
  height: 90vh;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.about-me {
  top: 0;
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-me.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-me.jpg") center/cover no-repeat border-box;
}

.learning {
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
}

.projects {
  -webkit-transform: translateX(200vw);
          transform: translateX(200vw);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
}

.experience {
  -webkit-transform: translateX(300vw);
          transform: translateX(300vw);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
}

@media (min-width: 1080px) {
  .sec__main {
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 24vw;
    margin: 0;
    max-width: 23%;
  }
}

.sec__icon-container {
  opacity: 0.8;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media (min-width: 1080px) {
  .sec__icon-container {
    width: 100%;
  }
}

.zoomed {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sec__icon {
  height: 12rem;
}

@media (min-width: 1080px) {
  .sec__icon {
    display: block;
    height: auto;
    width: 70%;
    max-width: 8rem;
    margin: 2rem auto;
  }
}

.sec__description {
  color: inherit;
  margin: 0 3rem;
}

@media (min-width: 1080px) {
  .sec__description {
    text-align: center;
    margin: 1.5rem auto;
    padding: 0.25rem;
  }
}

.sec__description p {
  line-height: 1.6;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

@media (min-width: 1080px) {
  .sec__description p {
    line-height: 1.6;
  }
}

.sec__description--title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.sec__learn-more {
  width: inherit;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media (min-width: 1080px) {
  .sec__learn-more--phrase {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.1s;
    transition: visibility 0.1s;
    -webkit-transition: opacity 0.4s ease-in-out 0.1s;
    transition: opacity 0.4s ease-in-out 0.1s;
  }
}

.sec__btn {
  border: none;
  background-color: transparent;
  position: relative;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .sec__btn {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 3rem;
  }
}

@media (min-width: 1080px) {
  .sec__btn {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 0;
  }
}

@media (min-width: 1080px) {
  .sec__btn:hover > .sec__btn--arrow {
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  .sec__btn:hover > .sec__btn--circle {
    -webkit-transform: perspective(20rem) translateZ(1rem);
            transform: perspective(20rem) translateZ(1rem);
  }
  .sec__btn:hover ~ .sec__learn-more--phrase {
    visibility: visible;
    opacity: 1;
  }
}

.sec__btn--arrow {
  position: absolute;
  height: 2.2rem;
  top: calc(50% - 1.1rem);
  -webkit-transform: translateX(2.5rem);
          transform: translateX(2.5rem);
}

@media (min-width: 1080px) {
  .sec__btn--arrow {
    position: absolute;
    height: 2.2rem;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
}

.sec__btn--circle {
  height: 3rem;
  padding: 0 2rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (min-width: 1080px) {
  .sec__btn--circle {
    height: 3rem;
    padding: 0 2rem;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: perspective(20rem) translateZ(-7rem);
            transform: perspective(20rem) translateZ(-7rem);
  }
}

.header-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  height: 9vh;
  min-height: 4rem;
  width: 100vw;
  max-width: 100%;
  top: 0;
  margin: auto;
  background-color: #f0f6ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.logo-container {
  position: relative;
  vertical-align: middle;
  padding-top: 0.5rem;
}

@media (min-width: 768px) {
  .logo-container {
    margin-right: auto;
  }
}

.spin-logo__div {
  -webkit-animation: rotation 10s linear infinite forwards;
          animation: rotation 10s linear infinite forwards;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 14rem;
  height: 3rem;
}

.spin-image {
  width: 100%;
}

.spin-logo {
  left: 1rem;
  position: absolute;
  width: 12rem;
  height: 3rem;
  -webkit-transform: translateZ(1rem);
          transform: translateZ(1rem);
  -webkit-box-shadow: 0px 0px 5px #263dd4;
          box-shadow: 0px 0px 5px #263dd4;
  background-color: green;
}

.spin-logo2 {
  left: 1rem;
  position: absolute;
  width: 12rem;
  height: 3rem;
  -webkit-transform: rotateY(180deg) translateZ(1rem);
          transform: rotateY(180deg) translateZ(1rem);
  -webkit-box-shadow: 0px 0px 5px #263dd4;
          box-shadow: 0px 0px 5px #263dd4;
  background-color: green;
}

.spin-logo__side {
  left: 0;
  position: absolute;
  min-height: 100%;
  height: 3rem;
  background-color: #bfcaf4;
  /* width: 10px; */
  min-width: 2rem;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-box-shadow: 0px 0px 5px #263dd4;
          box-shadow: 0px 0px 5px #263dd4;
}

.spin-logo__side2 {
  position: absolute;
  right: 0;
  min-height: 100%;
  height: 3rem;
  background-color: #bfcaf4;
  min-width: 2rem;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-box-shadow: 0px 0px 5px #263dd4;
          box-shadow: 0px 0px 5px #263dd4;
}

.spin-logo__top {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 12rem;
  height: 2rem;
  background-color: #bfcaf4;
  -webkit-transform: rotateX(90deg) translateZ(1rem);
          transform: rotateX(90deg) translateZ(1rem);
  -webkit-box-shadow: 0px 0px 5px #263dd4;
          box-shadow: 0px 0px 5px #263dd4;
}

.spin-logo__bottom {
  position: absolute;
  left: 1rem;
  bottom: 0;
  width: 12rem;
  height: 2rem;
  background-color: #bfcaf4;
  -webkit-transform: rotateX(90deg) translateZ(-1rem);
          transform: rotateX(90deg) translateZ(-1rem);
  -webkit-box-shadow: 0px 0px 5px #263dd4;
          box-shadow: 0px 0px 5px #263dd4;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  50% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

.logo {
  margin: auto;
  height: 3rem;
  -webkit-box-shadow: 2px 2px 3px rgba(156, 156, 156, 0.5);
          box-shadow: 2px 2px 3px rgba(156, 156, 156, 0.5);
}

.theme-container {
  margin: 0.5rem 3rem 0.5rem 2rem;
}

.theme-container__btn {
  position: relative;
  border: none;
  background-color: transparent;
  min-height: 1.5rem;
  min-width: 1.5rem;
  overflow: hidden;
}

.icon__theme {
  top: 0;
  left: 0;
  position: absolute;
  height: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.icon__theme--day {
  -webkit-transform: translate(1.5rem, 1.5rem);
          transform: translate(1.5rem, 1.5rem);
}

.icon__theme--night {
  -webkit-transform: translate(-1.5rem, 1.5rem);
          transform: translate(-1.5rem, 1.5rem);
}

.icon__theme--active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.side-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  top: 0;
  background-color: #bfcaf4;
  height: 100%;
  width: 80vw;
  z-index: 7;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.side-menu__out {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-list {
  padding-left: 0;
  margin-top: 4rem;
}

.menu-list li {
  list-style-type: none;
  margin: 0 0 1rem 0;
  text-align: center;
  line-height: 2;
}

.side-menu__btn {
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  -webkit-animation: cube-rotation 5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
          animation: cube-rotation 5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@media (min-width: 768px) {
  .side-menu__btn {
    display: none;
  }
}

.icon__menu {
  height: 2.5rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.15rem;
  height: 8vh;
  max-height: 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #001392;
}

.footer-menu p {
  font-weight: 700;
}

.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes cube-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  50% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes cube-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  50% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

.bg-main {
  background-color: #030d4d;
}

.bg-secondary {
  background-color: #001392;
}

.bg-background {
  background-color: #263dd4;
}

.text-main {
  color: #f0f6ff;
}

.text-secondary {
  color: #bfcaf4;
}

.text-background {
  color: #dbe8ff;
}

.about-me-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-me.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-me.jpg") center/cover no-repeat border-box;
}

.learning-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
}

.projects-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
}

.experience-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
}

.shadow-night {
  -webkit-box-shadow: 2px 2px 3px #bfcaf4;
          box-shadow: 2px 2px 3px #bfcaf4;
}
/*# sourceMappingURL=main.css.map */