@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap");
html {
  max-width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding-top: calc(10vh - 1rem);
  position: relative;
  margin: 0;
  background-color: #f0f6ff;
  font-family: "Comfortaa", cursive;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.sec__main {
  color: #001392;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
  max-width: 100%;
  margin: 0.5rem auto;
  height: 90vh;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.sec__icon-container {
  opacity: 0.3;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.zoomed {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sec__icon {
  height: 12rem;
}

.sec__description {
  color: inherit;
  margin: 0 3rem;
}

.sec__description p {
  line-height: 1.6;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.sec__description--title {
  font-size: 1.5rem;
  font-weight: 700;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.zoomed__text {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sec__learn-more {
  width: inherit;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

@media (min-width: 768px) {
  .sec__learn-more--phrase {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.1s;
    transition: visibility 0.1s;
    -webkit-transition: opacity 0.4s ease-in-out 0.1s;
    transition: opacity 0.4s ease-in-out 0.1s;
  }
}

.sec__btn {
  border: none;
  background-color: transparent;
  position: relative;
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .sec__btn {
    border: none;
    background-color: transparent;
    position: relative;
    margin-right: 3rem;
  }
}

@media (min-width: 768px) {
  .sec__btn:hover > .sec__btn--arrow {
    -webkit-transform: translateX(2.5rem);
            transform: translateX(2.5rem);
  }
  .sec__btn:hover > .sec__btn--circle {
    -webkit-transform: perspective(20rem) translateZ(1rem);
            transform: perspective(20rem) translateZ(1rem);
  }
  .sec__btn:hover ~ .sec__learn-more--phrase {
    visibility: visible;
    opacity: 1;
  }
}

.sec__btn--arrow {
  position: absolute;
  height: 2.2rem;
  top: calc(50% - 1.1rem);
  -webkit-transform: translateX(2.5rem);
          transform: translateX(2.5rem);
}

@media (min-width: 768px) {
  .sec__btn--arrow {
    position: absolute;
    height: 2.2rem;
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
}

.sec__btn--circle {
  height: 3rem;
  padding: 0 2rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .sec__btn--circle {
    height: 3rem;
    padding: 0 2rem;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transform: perspective(20rem) translateZ(-7rem);
            transform: perspective(20rem) translateZ(-7rem);
  }
}

.about-me {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-me.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-me.jpg") center/cover no-repeat border-box;
}

.learning {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
}

.projects {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
}

.experience {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 232, 255, 0.75)), to(rgba(219, 232, 255, 0.75))), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(219, 232, 255, 0.75), rgba(219, 232, 255, 0.75)), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
}

.header-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  height: 9vh;
  min-height: 4rem;
  width: 100vw;
  max-width: 100%;
  top: 0;
  margin: auto;
  background-color: #f0f6ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.logo-container {
  vertical-align: middle;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (min-width: 768px) {
  .logo-container {
    margin-right: auto;
  }
}

.logo {
  margin: auto;
  height: 3rem;
  -webkit-box-shadow: 2px 2px 3px rgba(156, 156, 156, 0.5);
          box-shadow: 2px 2px 3px rgba(156, 156, 156, 0.5);
}

.theme-container {
  margin: 0.5rem 3rem 0.5rem 2rem;
}

.theme-container__btn {
  position: relative;
  border: none;
  background-color: transparent;
  min-height: 1.5rem;
  min-width: 1.5rem;
  overflow: hidden;
}

.icon__theme {
  top: 0;
  left: 0;
  position: absolute;
  height: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.5rem;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.icon__theme--day {
  -webkit-transform: translate(1.5rem, 1.5rem);
          transform: translate(1.5rem, 1.5rem);
}

.icon__theme--night {
  -webkit-transform: translate(-1.5rem, 1.5rem);
          transform: translate(-1.5rem, 1.5rem);
}

.icon__theme--active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.side-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  top: 0;
  background-color: #bfcaf4;
  height: 100%;
  width: 80vw;
  z-index: 7;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.side-menu__out {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-list {
  padding-left: 0;
  margin-top: 4rem;
}

.menu-list li {
  list-style-type: none;
  margin: 0 0 1rem 0;
  text-align: center;
  line-height: 2;
}

.side-menu__btn {
  margin: 0 0.5rem;
  border: none;
  background-color: transparent;
  -webkit-animation: cube-rotation 5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
          animation: cube-rotation 5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@media (min-width: 768px) {
  .side-menu__btn {
    display: none;
  }
}

.icon__menu {
  height: 2.5rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.15rem;
  height: 8vh;
  max-height: 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #001392;
}

.footer-menu p {
  font-weight: 700;
}

.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 6;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@-webkit-keyframes cube-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  50% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@keyframes cube-rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
  50% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

.bg-main {
  background-color: #030d4d;
}

.bg-secondary {
  background-color: #001392;
}

.bg-background {
  background-color: #263dd4;
}

.text-main {
  color: #f0f6ff;
}

.text-secondary {
  color: #bfcaf4;
}

.text-background {
  color: #dbe8ff;
}

.about-me-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-me.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-me.jpg") center/cover no-repeat border-box;
}

.learning-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-learning.jpg") center/cover no-repeat border-box;
}

.projects-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-projects.jpg") center/cover no-repeat border-box;
}

.experience-dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(38, 61, 212, 0.85)), to(rgba(38, 61, 212, 0.85))), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
  background: linear-gradient(rgba(38, 61, 212, 0.85), rgba(38, 61, 212, 0.85)), url("../images/bg-experience.jpg") center/cover no-repeat border-box;
}
/*# sourceMappingURL=main.css.map */