.sec__main {
  color: map-get($colors, "night-theme-secondary");
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: map-get($colors, "day-theme-background");
  width: 100vw;
  margin: 0.5rem auto;
  height: calc(90vh - 0.5rem);
}

.sec__icon-container {
  opacity: 0.7;
}

.sec__icon {
  height: 12rem;
}

.sec__description {
  color: inherit;
  margin: 0 3rem;
}

.sec__description--title {
  font-size: 1.5rem;
  font-weight: 700;
}

.sec__learn-more {
  width: inherit;
  display: flex;
  justify-content: flex-end;
}

.sec__btn {
  margin-right: 2rem;
}

.about-me {
  background: linear-gradient(
      rgba(219, 232, 255, 0.75),
      rgba(219, 232, 255, 0.75)
    ),
    url("images/bg-me.jpg") center / cover no-repeat border-box;
}

.learning {
  background: linear-gradient(
      rgba(219, 232, 255, 0.75),
      rgba(219, 232, 255, 0.75)
    ),
    url("images/bg-learning.jpg") center / cover no-repeat border-box;
}

.projects {
  background: linear-gradient(
      rgba(219, 232, 255, 0.75),
      rgba(219, 232, 255, 0.75)
    ),
    url("images/bg-projects.jpg") center / cover no-repeat border-box;
}

.experience {
  background: linear-gradient(
      rgba(219, 232, 255, 0.75),
      rgba(219, 232, 255, 0.75)
    ),
    url("images/bg-experience.jpg") center / cover no-repeat border-box;
}
