.intro-part__photo-box {
  min-height: 10rem;
  min-width: 10rem;
  display: flex;

  @media (min-width: 640px) {
    margin-right: 1rem;
  }

  @media (min-width: 1080px) {
    margin-right: 6rem;
  }
}

.intro-part__photo {
  height: 10rem;
  width: 10rem;
  border-radius: 10rem;
  filter: drop-shadow(-15px 15px 8px var(--icons-shadow));

  @media (min-width: 640px) {
    height: 12rem;
    width: 12rem;
  }

  @media (min-width: 1080px) {
    height: 15rem;
    width: 15rem;
  }
}

.amp__main-part {
  overflow: hidden;
  min-height: 92vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--section-bg);
  padding: 4rem 1rem;
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
}

.amp__sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear;
  @media (min-width: 1080px) {
    margin: 0 5rem;
  }
}

.amp-text {
  line-height: 1.6;
  text-align: center;
  margin: 1rem 0.5rem;
  padding-bottom: 0.5rem;
  @media (min-width: 640px) {
    font-size: 1.1rem;
    max-width: 95vw;
  }
  @media (min-width: 760px) {
    font-size: 1.2rem;
    max-width: 90vw;
  }
  @media (min-width: 1080px) {
    font-size: 1.3rem;
    max-width: 81vw;
    text-align: left;
  }
  @media (min-width: 1080px) {
    font-size: 1.4rem;
    max-width: 75vw;
    text-align: left;
  }
}

.amp__sub-one__hello {
  text-align: center;
}

.amp__img-box {
  display: flex;
  width: 14rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  overflow: hidden;
  filter: drop-shadow(5px 6px 10px var(--headlines-shadow));
  & img {
    border-left: 3px solid var(--logo-image-shadow);
  }

  &::after {
    content: '';
    position: absolute;
    top: -5%;
    left: -8.5rem;
    display: block;
    width: 3rem;
    height: 110%;
    transform: rotateZ(15deg);
    background-image: linear-gradient(to left, transparent, white, transparent);
  }
  &:hover::after {
    animation: reflection 4s ease-in-out forwards;
    animation-iteration-count: 1;
  }

  @media (min-width: 480px) {
    width: 16rem;
  }

  @media (min-width: 640px) {
    width: 18rem;
  }
  @media (min-width: 760px) {
    width: 20rem;
  }
  @media (min-width: 1080px) {
    width: 40%;
    max-width: 30rem;
  }
}

.amp-img {
  display: block;
  width: 100%;
}

.amp__headline {
  font-weight: 700;
  font-size: 1.3rem;
  filter: drop-shadow(-10px 10px 4px var(--icons-shadow));
  @media (min-width: 640px) {
    font-size: 1.4rem;
  }
  @media (min-width: 760px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1080px) {
    font-size: 2rem;
  }
}

.sub-splitter {
  position: relative;
  margin: 5rem auto 1.5rem auto;
  width: 90vw;
  height: 0.18rem;
  background-color: var(--font-border-color);
  overflow: visible;
  transition: transform 0.4s ease-in-out;
}

.amp-splitter__reveal-section-div {
  display: flex;
  align-items: center;
  position: absolute;
  width: 50%;
  height: 2.5rem;
  top: -3rem;
  left: 1rem;
}

.amp-btn__reveal-section {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
  cursor: pointer;
}

.amp-btn-down__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 1.8rem;
  width: 1.8rem;
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
}

.amp-btn-down__anim-div {
  opacity: 0;
  position: absolute;
  height: 2rem;
  width: 2rem;
  z-index: 1;
  left: 0;
  bottom: 0.5rem;
  background-color: var(--section-bg);
  &:hover {
    filter: drop-shadow(5px 6px 2px var(--headlines-shadow));
    transform: translateY(-0.3rem);
  }
}

@keyframes arrow-down-reveal {
  0% {
    max-height: 2rem;
  }
  40% {
    max-height: 1rem;
  }
  80% {
    max-height: 0rem;
  }
  100% {
    max-height: 0rem;
  }
}

.amp-btn-down__hover-div {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  bottom: 0;
  &:hover ~ .amp-btn-down__icon {
    filter: drop-shadow(5px 6px 2px var(--headlines-shadow));
    transform: translateY(-0.3rem);
  }

  &:hover ~ .amp-headline__reveal-section {
    filter: drop-shadow(5px 6px 2px var(--headlines-shadow));
    transform: translateY(-0.3rem);
  }
}

.amp-headline__reveal-section {
  display: block;
  padding: 0;
  margin: 0 0 0 3rem;
  height: 2rem;
  width: 50rem;
  font-family: 'Comfortaa', cursive;
  color: var(--font-border-color);
  text-align: left;
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
  cursor: pointer;
  font-size: 1.1rem;

  @media (min-width: 640px) {
    font-size: 1.2rem;
  }
  @media (min-width: 1080px) {
    font-size: 1.4rem;
  }
}

.amp__flexed-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  @media (min-width: 1080px) {
    flex-direction: row;
  }
}

.amp__flexed-box__rev {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1080px) {
    flex-direction: row-reverse;
  }
}

@keyframes reflection {
  0% {
    transform: translateX(0) rotateZ(20deg);
  }
  30% {
    transform: translateX(2400%) rotateZ(20deg);
  }
  100% {
    transform: translateX(2400%) rotateZ(20deg);
  }
}

.amp__flexed-text {
  @media (min-width: 1080px) {
  }
}

.amp__flexed-text__rev {
  @media (min-width: 1080px) {
    margin-right: 1.5rem;
  }
}

.amp-text-left {
  @media (min-width: 1080px) {
    text-align: left;
  }
}

.amp-text-right {
  @media (min-width: 1080px) {
    text-align: right;
  }
}

.amp-element-hidden {
  opacity: 0;
}

.amp__text-box {
  @media (min-width: 1080px) {
    width: 55vw;
  }
}

.amp__text-box-right {
  @media (min-width: 1080px) {
    padding-left: 2.5rem;
  }
}
