.exp__main-part {
  overflow: hidden;
  min-height: 92vh;
  width: 100vw;
  max-width: 100%;
  //   background-color: var(--section-bg);
  // background: var(--main-sections-bg), url('../images/exp-puzzled.png') top / cover no-repeat border-box;
  transition: background-color 0.5s ease, transform 0.5s ease-out, opacity 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.exp__main-part::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: var(--main-sections-bg), url('../images/exp-puzzled.png') top / cover no-repeat border-box;
  opacity: 0.9;
  z-index: -1;
}

.exp__no-exp-div {
  width: 80vw;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 640px) {
    position: absolute;
    width: 25rem;
    left: 5rem;
    top: 3rem;
  }
  @media (min-width: 920px) {
    position: absolute;
    width: 35rem;
    left: 7rem;
    top: 2rem;
    flex-direction: row;
    justify-content: space-around;
  }
  @media (min-width: 1080px) {
    position: absolute;
    width: 60rem;
    left: 8rem;
    top: 20vh;
  }
}

.exp__no-exp-logo-box {
  opacity: 0.7;
}

.exp__no-exp-logo {
  height: 10rem;
  width: 10rem;
  @media (min-width: 1080px) {
    height: 14rem;
    width: 14rem;
  }
}

.exp__no-exp-message {
  width: 90%;
  @media (min-width: 920px) {
    padding-left: 2rem;
    width: 25rem;
    flex-direction: row;
  }
  @media (min-width: 1080px) {
    padding-left: 2rem;
    width: 40rem;
    flex-direction: row;
  }
}

.exp__no-exp-text {
  line-height: 1.3;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  @media (min-width: 920px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) {
    font-size: 1.8rem;
  }
}
