.indiv-section__main {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 92vh;
  width: 100vw;
  max-width: 100%;
  background-color: var(--section-bg);
  transition: transform 0.3s linear;
  @media (min-width: 1080px) and (hover: hover) {
    min-height: 116vh;
    position: fixed;
    overflow: hidden;
    transform: translateY(-8vh);
  }
}

.scroll-back__btn-div {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 20;
  left: 2vw;
  top: 3vh;
}

.scroll-back__div-hidden {
  visibility: hidden;
}

.scroll-back__btn-box {
  height: 2rem;
  width: 2rem;
  transition: transform 0.2s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
  &:hover .scroll-back__svg-btn {
    transform: scale(0.95) rotateX(180deg) rotateZ(270deg);
    filter: drop-shadow(0 3px 5px var(--scrollback-btn));
  }
  &:hover .scroll-back__svg-btn-dot {
    animation: spin-dot 0.3s linear 0.3s infinite forwards;
  }
  &:hover ~ .scroll-back__btn-desc {
    opacity: 1;
  }
  &:active {
    transform: scale(1);
  }
}

.scroll-back__svg-btn {
  height: 2rem;
  width: 2rem;
  transition: transform 0.3s ease-in-out;
  transform: rotateZ(270deg) scale(0.95);
}

.scroll-back__svg-btn-dot {
  opacity: 0;
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateZ(270deg);
  filter: drop-shadow(1px 1px 15px var(--scrollback-btn));
}

@keyframes spin-dot {
  0% {
    transform: rotateZ(270deg);
    opacity: 1;
  }
  50% {
    transform: rotateZ(450deg);
  }
  100% {
    transform: rotateZ(630deg);
    opacity: 1;
  }
}

.scroll-back__btn-desc {
  opacity: 0;
  font-size: 0.9rem;
  padding-left: 1rem;
  transition: opacity 0.2s ease-in-out;
  filter: drop-shadow(0 3px 5px var(--scrollback-btn));
  cursor: default;
}

// GENERAL RULES

.indiv-section__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 100vw;
  background-color: var(--section-bg);
  @media (min-width: 1080px) and (hover: hover) {
    transform: translateY(-8vh);
    overflow-x: visible;
    height: 100vh;
    flex-direction: row;
    width: auto;
  }
}

.indiv-section-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 95vw;
  min-height: 92vh;
  position: relative;
  @media (min-width: 1080px) and (hover: hover) {
    margin-top: 0;
    min-height: 100vh;
    width: 100vw;
  }
}

.indiv-headline-text-box {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 4rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-12deg);
  @media (min-width: 420px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 15rem;
    text-align: center;
    transform: translateX(10rem) skew(-12deg);
  }
}

.indiv-headline-text {
  display: block;
  transform: skew(12deg);
}

.indiv-par-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 6px solid rgba(27, 149, 27, 0.543);

  @media (min-width: 1080px) and (hover: hover) {
    text-align: center;
    align-items: flex-start;
    flex-direction: row;
    border-left: none;
  }

  & p {
    padding-left: 0.5rem;
  }
}

.indiv-section__scrolled-div {
  display: none;
  z-index: -1;
  background-color: transparent;
  @media (min-width: 1080px) and (hover: hover) {
    display: block;
  }
}

.header-scroll-started {
  transform: translateY(-8vh);
  opacity: 0;
}
.footer-scroll-started {
  display: none;
}

// BOX 1 RULES

.indiv-box-one {
  align-items: flex-start;
  justify-content: space-around;
  @media (min-width: 1080px) and (hover: hover) {
    min-height: 100vh !important;
    justify-content: flex-end;
  }
}

.indiv-img__one {
  width: 90vw;
  min-width: 15rem;
  max-width: 40rem;
  margin: 0 auto;
  @media (min-width: 1080px) and (hover: hover) {
    min-width: auto;
    max-width: 60%;
    margin: auto;
    position: absolute;
    bottom: 22vh;
    width: 60%;
    transform: translateX(30rem);
  }
}

.indiv-headline-box-one {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 4rem;
  width: 90%;
  max-width: 60rem;
  text-align: center;
  z-index: 1;
  transform: skew(-12deg);
  @media (min-width: 420px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 20rem;
    width: 60vw;
    max-width: 60vw;
    font-size: 3rem;
    height: 8rem;
    margin-bottom: 18vh;
    text-align: center;
    transform: translateX(10rem) skew(-12deg);
  }
}

// BOX 2 RULES

.indiv-box-two {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 30rem;
  }
}

.indiv-img__two-left {
  width: 80vw;
  padding: 2rem 0;
  min-width: 15rem;
  max-width: 40rem;
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    top: 12vh;
    transform: translateX(0rem);
    height: auto;
    width: 50%;
    min-width: 50%;
    max-width: 50%;
    left: 2vw;
    transform: translateY(-10rem);
  }
}

.indiv-img__two-right {
  width: 80vw;
  padding: 2rem 0;
  min-width: 15rem;
  max-width: 40rem;
  @media (min-width: 1080px) and (hover: hover) {
    position: absolute;
    bottom: 12vh;
    height: auto;
    min-width: 50%;
    width: 50%;
    max-width: 50%;
    right: 2vw;
    transform: translateY(10rem);
  }
}

.indiv-headline-box-two {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 3rem;
  width: 90%;
  max-width: 60rem;
  text-align: center;
  z-index: 1;
  transform: skew(-12deg);
  @media (min-width: 420px) {
    height: 4rem;
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 20rem;
    width: 60vw;
    max-width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 5rem;
    margin-right: 4rem;
    text-align: center;
    transform: translateX(18rem) skew(-12deg);
  }
}

.indiv-par-box-two {
  height: 60%;
  width: 90%;
  max-width: 75rem;
  z-index: 1;
  border-radius: 5px;
  @media (min-width: 1080px) and (hover: hover) {
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 1.5rem 2.5rem;
    height: 60vh;
    width: 70%;
    max-width: 70%;
    transform: skew(-12deg);
    border-radius: 5px;
  }
}

.indiv-par-inner-box-two {
  @media (min-width: 1080px) and (hover: hover) {
    display: flex;
    align-items: flex-start;
    height: 55vh;
    width: 95%;
    overflow-y: scroll;
    transform: skew(12deg);
    background-color: var(--project-text-bg);
    border-radius: 5px;
  }
}

.indiv-par-two {
  margin: 0.5rem 0.5rem;
  padding: 2rem 0;
  line-height: 1.5;
  font-size: 0.85rem;
  @media (min-width: 640px) {
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem 0;
    line-height: 1.4;
    font-size: 1rem;
  }
  @media (min-width: 760px) {
    line-height: 1.6;
    font-size: 1.1rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.6;
  }
}

// BOX 3 RULES

.indiv-box-three {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 30rem;
  }
}

.indiv-headline-box-three {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 3rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-12deg);
  @media (min-width: 420px) {
    height: 4rem;
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 20rem;
    width: 60vw;
    max-width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 2rem;
    margin-right: 4rem;
    text-align: center;
    transform: translateX(17rem) skew(-12deg);
  }
}

.indiv-img__three {
  width: 80vw;
  min-width: 15rem;
  max-width: 40rem;
  padding: 2rem 0;
  @media (min-width: 1080px) and (hover: hover) {
    padding: 1rem 0;
    margin: auto;
    position: absolute;
    width: 45%;
    min-width: 45%;
    max-width: 45%;
    left: -1vw;
    top: 1vh;
    left: 35vw;
    width: 40%;
  }
}

.indiv-par-box-three {
  padding: 1.5rem 0;
  height: auto;
  width: 75%;
  z-index: 1;
  border-radius: 5px;
  max-width: 75rem;
  @media (min-width: 640px) {
    height: 55%;
  }
  @media (min-width: 1080px) and (hover: hover) {
    margin-top: 15vh;
    padding: 1.5rem 2.5rem;
    height: 60vh;
    max-width: none;
    border-radius: 5px;
    position: relative;
    transform: skew(-12deg);
  }
}

.indiv-par-inner-box-three {
  @media (min-width: 1080px) and (hover: hover) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 55vh;
    width: 90%;
    overflow-y: scroll;
    transform: skew(12deg);
    background-color: var(--project-text-bg);
    border-radius: 5px;
  }
}

.indiv-par-three {
  margin: 0.5rem 0.5rem;
  padding: 2rem 0;
  line-height: 1.5;
  font-size: 0.85rem;
  @media (min-width: 640px) {
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem 0;
    line-height: 1.4;
    font-size: 1rem;
  }
  @media (min-width: 760px) {
    line-height: 1.6;
    font-size: 1.2rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    text-align: left;
    margin: 1rem;
    padding: 0 2rem;
    font-size: 1.4rem;
    line-height: 1.8;
  }
}

// BOX 4 RULES

.indiv-box-four {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 30rem;
    overflow: visible;
    padding-right: 6rem;
    width: 106vw;
  }
}

.indiv-headline-box-four {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--logo-bg);
  font-size: 1.4rem;
  font-weight: 700;
  height: 3rem;
  width: 90%;
  text-align: center;
  z-index: 1;
  transform: skew(-12deg);
  @media (min-width: 420px) {
    height: 4rem;
    font-size: 1.6rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    min-width: 20rem;
    width: 60vw;
    font-size: 3rem;
    height: 5rem;
    margin-top: 2rem;
    margin-right: 4rem;
    text-align: center;
    transform: translateX(21rem) skew(-12deg);
  }
}

.indiv-img__four {
  width: 40vw;
  min-width: 10rem;
  max-width: 30rem;
  padding: 2rem 0;
  @media (min-width: 1080px) and (hover: hover) {
    min-width: none;
    max-width: none;
    width: auto;
    position: absolute;
    height: 100%;
    top: 2vh;
    left: 10vw;
    height: 90vh;
    transform: translateY(-3rem);
  }
}

.indiv-par-box-four {
  margin-top: 2rem;
  padding: 1.5rem 0;
  height: auto;
  width: 90%;
  z-index: 1;
  border-radius: 5px;
  max-width: 75rem;
  @media (min-width: 640px) {
    height: 55%;
  }
  @media (min-width: 1080px) and (hover: hover) {
    position: relative;
    margin: 8vh 2vw auto auto;
    padding: 2rem;
    min-height: 50vh;
    width: 70vw;
    min-width: 65vw;
    max-height: 75vh;
    transform: skew(-12deg);
    border-radius: 5px;
  }
}

.indiv-par-inner-box-four {
  @media (min-width: 1080px) and (hover: hover) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 60vh;
    width: 90%;
    overflow-y: scroll;
    transform: skew(12deg);
    background-color: var(--project-text-bg);
    border-radius: 5px;
  }
}

.indiv-par-four {
  margin: 0.5rem 0.5rem;
  padding: 2rem 0;
  line-height: 1.5;
  font-size: 0.85rem;
  @media (min-width: 640px) {
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.5rem 0;
    line-height: 1.4;
    font-size: 1rem;
  }
  @media (min-width: 760px) {
    line-height: 1.6;
    font-size: 1.1rem;
  }
  @media (min-width: 1080px) and (hover: hover) {
    text-align: left;
    margin: 0;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}
