extends base

block content
  .intro-part__running-code-box(style='transform: translateY(2vh) scale(1)')
    img.intro-part__animated-code(src='/images/js-code-darkblue.png', alt='')
    .falling-down-div
    .running-right-div
  section.intro-part
    .intro-part__glass
    .intro-part__text-box
      p.intro-part__text About Me
    .intro-part__photo-box
      img.intro-part__photo(src='/images/my-photo.jpg', alt='My Face')
  section.amp__main-part.section-hidden
    .amp__sub.amp-element-hidden
      .amp__flexed-box__rev
        .amp__flexed-image
          img.amp-img(src='/images/shao-hat-shadowed.png', alt='funny greeting gif')
        .amp__flexed-text__rev
          h1.amp__headline.amp__sub-one__hello May the Force Be With You
          p.amp-text.amp-text-left
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
            | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit
            | voluptates dignissimos vero ea! natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate,
            | amet laborum sint suscipit voluptates dignissimos vero ea!
    #0amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='0amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='0amp') Greetings, Visitor!
    .amp__sub.amp-element-hidden
      h2.amp__headline Professional Life
      div
        p.amp-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
          | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit
          | voluptates dignissimos vero ea! Sed ducimus dignissimos sequi corrupti quaerat natus accusantium repellat
          | aliquid?
        p.amp-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
          | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit
          | voluptates dignissimos vero ea! Sed ducimus dignissimos sequi corrupti quaerat natus accusantium repellat
          | aliquid?
      .amp__flexed-box
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/shao-hat-shadowed.png', alt='funny greeting gif')
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/shao-hat-shadowed.png', alt='funny greeting gif')
      div
        p.amp-text
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
          | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit Sed
          | ducimus dignissimos sequi corrupti quaerat natus accusantium repellat aliquid?Sed ducimus dignissimos sequi
          | corrupti quaerat natus accusantium repellat aliquid? voluptates dignissimos vero ea!
    #1amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='1amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='1amp') My Professional Life These Days
    .amp__sub.amp-element-hidden
      .amp__img-box
      h2.amp__headline Academic Life
      .amp__flexed-box
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/shao-hat-shadowed.png', alt='funny greeting gif')
        div
          p.amp-text.amp__flexed-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
            | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit
            | voluptates dignissimos vero ea!
          p.amp-text.amp__flexed-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
            | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit
            | voluptates dignissimos vero ea!
    #2amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='2amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='2amp') Indeed, a Forever Student
    .amp__sub.amp-element-hidden
      .amp__img-box
      h2.amp__headline.amp__sub-four__headline Leisure Time
      .amp__flexed-box__rev
        .amp__img-box.amp__flexed-image
          img.amp-img(src='/images/shao-hat-shadowed.png', alt='funny greeting gif')
        div
          p.amp-text.amp__flexed-text__rev.amp-text-left
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
            | natus accusantium repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit
            | voluptates dignissimos vero ea!
      .amp__flexed-box__rev
        .amp-img-box.amp__flexed-image
          img.amp-img(src='/images/shao-hat-shadowed.png', alt='funny greeting gif')
        div
          p.amp-text.amp-text-left.amp__flexed-text__rev
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ducimus dignissimos sequi corrupti quaerat
            | Sed ducimus dignissimos sequi corrupti quaerat natus accusantium repellat aliquid? natus accusantium
            | repellat aliquid? Dolore voluptatibus saepe cupiditate, amet laborum sint suscipit voluptates dignissimos
            | vero ea!
    #3amp.sub-splitter
      .amp-splitter__reveal-section-div
        button.amp-btn__reveal-section(type='button', data-ampnum='3amp')
          .amp-btn-down__hover-div
          //- <div class="amp-btn-down__anim-div"></div>
          svg.amp-btn-down__icon
            use(href='/images/icons/all-icons.svg#arrow-down-dark')
          p.amp-headline__reveal-section(data-ampnum='3amp') This Is How I Have Fun

block scripting 
  script(type='module', defer src='/js/aboutme-controller.js')