doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    //- <meta http-equiv="Cache-control" content="public">
    link(rel='stylesheet', href='/sass/main.css')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    title DeevDevs: #{pageData.pageName}
  body 
    include _header

    block content 

    include _footer

    include _side

    block details-window  

    block scripting
    