<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- prettier-ignore -->
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link rel="stylesheet" href="./sass/main.css" />
    <script defer type="module" src="./script/experience-controller.js"></script>

    <title>DeevDevs: Experience</title>
  </head>
  <body>
    <header class="header-menu">
      <button class="side-menu__btn" type="button">
        <svg class="icon__menu">
          <use href="./images/icons/all-icons.svg#icon-menu"></use>
        </svg>
      </button>
      <div class="logo-container">
        <!-- <img class="logo" src="images/icons/logo-box-day.svg"> -->
        <svg class="logo">
          <use href="./images/icons/all-icons.svg#logo-box-day"></use>
        </svg>
      </div>
      <div class="top-menu">
        <ul class="top-menu-list">
          <a href="./index.html"><li>Home</li></a>
          <a href="./aboutme.html"><li>About me</li></a>
          <a href="./qualifications.html"><li>Qualifications</li></a>
          <a href="./projects.html"><li>Projects</li></a>
          <a href="./experience.html"><li class="top-menu-li-active">Experience</li></a>
        </ul>
      </div>
      <!-- ////////////////////////////////////////// -->
      <div class="theme-container">
        <button class="theme-container__btn" type="button">
          <span class="icon__theme icon__theme--night icon__theme--active">
            <svg class="svg__header">
              <use href="./images/icons/all-icons.svg#icon-night"></use>
            </svg>
          </span>
          <span class="icon__theme icon__theme--day">
            <svg class="svg__header">
              <use href="./images/icons/all-icons.svg#icon-day"></use>
            </svg>
          </span>
        </button>
      </div>
    </header>
    <div class="intro-part__running-code-box" style="transform: translateY(2vh) scale(1)">
      <img class="intro-part__animated-code" src="./images/js-code-darkblue.png" alt="" />
      <div class="falling-down-div"></div>
      <div class="running-right-div"></div>
    </div>
    <section class="intro-part">
      <div class="intro-part__glass"></div>
      <div class="intro-part__text-box">
        <p class="intro-part__text">My Professional Experience</p>
      </div>
      <!-- <p>LEARNING IS LIFELONG PROCESS</p> -->
      <div class="intro-part__icon-box">
        <svg class="intro-part__icon">
          <use href="./images/icons/all-icons.svg#experience-icon-day"></use>
        </svg>
      </div>
    </section>
    <section class="exp__main-part section-hidden">
      <div class="exp__no-exp-div">
        <div class="exp__no-exp-logo-box">
          <svg class="exp__no-exp-logo">
            <use href="./images/icons/all-icons.svg#job-offer-icon"></use>
          </svg>
        </div>
        <div class="exp__no-exp-message">
          <p class="exp__no-exp-text">Oops, I have not worked in IT for money yet. Would you like to offer me a job?</p>
        </div>
      </div>
    </section>
    <footer class="footer-menu" id="section-5">
      <div class="footer-menu__buttons">
        <p class="footer-contacts-btn">Contact me</p>
        <p class="footer-address-btn">Address</p>
      </div>
      <div class="footer-menu__extra">
        <div class="footer-menu__contacts">
          <p>You can contact me using the form below, or via email</p>
          <div class="footer-menu__form-div">
            <form class="footer-menu__form">
              <label class="label-hidden" for="visitorName">visitorName</label>
              <input
                class="footer-menu__form-name footer__input-field"
                id="visitorName"
                type="text"
                placeholder="Your name"
                name="visitorName"
              />
              <label class="label-hidden" for="visitorEmail">visitorEmail</label>
              <input
                class="footer-menu__form-contacts footer__input-field"
                type="text"
                placeholder="Your email"
                name="visitorEmail"
              />
              <label class="label-hidden" for="visitorMessage">visitorMessage</label>
              <textarea
                class="footer-menu__form-message footer__input-field"
                type="text"
                placeholder="Your message"
                name="visitorMessage"
              >
              </textarea>
              <input class="footer-menu__form-submit" type="submit" />
              <!-- Send Message</button> -->
            </form>
          </div>
          <div class="footer-menu__ad-cont-div footer-menu__email-div">
            <svg class="footer-menu__icon">
              <use href="./images/icons/all-icons.svg#logo-email"></use>
            </svg>
            <p>dmitriy.vnuchkov@gmail.com</p>
          </div>
        </div>
        <div class="footer-menu__address">
          <p>Find me Online and in Real World</p>
          <div class="footer-menu__ad-cont-div">
            <svg class="footer-menu__icon">
              <use href="./images/icons/all-icons.svg#logo-vk"></use>
            </svg>
            <p>Dmitriy Vnuchkov</p>
          </div>
          <div class="footer-menu__ad-cont-div">
            <svg class="footer-menu__icon">
              <use href="./images/icons/all-icons.svg#logo-instagram"></use>
            </svg>
            <p>DmitriyDeevDevs</p>
          </div>
          <div class="footer-menu__ad-cont-div">
            <svg class="footer-menu__icon">
              <use href="./images/icons/all-icons.svg#logo-location"></use>
            </svg>
            <p>Currently in Oman, North Sharqiyah, Ibra</p>
          </div>
          <div class="footer-menu__address-div footer-copyright">
            <p>last updated in March 2022</p>
            <br />
            <p>Copyright by Dmitriy Vnuchkov</p>
          </div>
        </div>
      </div>
    </footer>
    <div class="side-menu">
      <ul class="menu-list">
        <a href="./index.html"
          ><li>
            <svg class="side-menu-icon side-menu-icon__home side-menu__hidden-icon">
              <use href="./images/icons/all-icons.svg#home-menu-icon-dark"></use>
            </svg>
            <p>Home</p>
          </li></a
        >
        <a href="./aboutme.html"
          ><li>
            <svg class="side-menu-icon side-menu-icon__aboutme side-menu__hidden-icon">
              <use href="./images/icons/all-icons.svg#aboutme-menu-icon-dark"></use>
            </svg>
            <p>About me</p>
          </li></a
        >
        <a href="./qualifications.html"
          ><li>
            <svg class="side-menu-icon side-menu-icon__learning side-menu__hidden-icon">
              <use href="./images/icons/all-icons.svg#learning-menu-icon-dark"></use>
            </svg>
            <p>Qualifications</p>
          </li></a
        >
        <a href="./projects.html"
          ><li>
            <svg class="side-menu-icon side-menu-icon__projects side-menu__hidden-icon">
              <use href="./images/icons/all-icons.svg#projects-menu-icon-dark"></use>
            </svg>
            <p>Projects</p>
          </li></a
        >
        <a href="./experience.html"
          ><li class="side-menu-icon__stand-out">
            <svg class="side-menu-icon side-menu-icon__experience">
              <use href="./images/icons/all-icons.svg#experience-menu-icon-dark"></use>
            </svg>
            <p>Experience</p>
          </li></a
        >
      </ul>
    </div>
    <div class="overlay"></div>
  </body>
</html>
