extends base

block content 
  .scroll-back__btn-div.scroll-back__div-hidden
    .scroll-back__btn-box
      svg.scroll-back__svg-btn-dot
        use(href='./images/icons/all-icons.svg#scroll-back-spinning-dot-dark')
      svg.scroll-back__svg-btn
        use(href='./images/icons/all-icons.svg#scroll-back-icon-dark')
    p.scroll-back__btn-desc Scroll Back
  section.indiv-section__main
    .indiv-section__content
      #1-indiv.indiv-section-box.indiv-box-one
        .indiv-headline-text-box.indiv-headline-box-one
          p.indiv-headline-text.indiv-headline-text-one BANKIST: HOMEPAGE
        img.indiv-img__one(src='./images/pr-images/pr-bankist-1.png', alt='')
      #2-indiv.indiv-section-box.indiv-box-two
        .indiv-headline-text-box.indiv-headline-box-two
          p.indiv-headline-text.indiv-headline-text-two General Description
        img.indiv-img__two-left(src='./images/pr-images/pr-bankist-1.png', alt='')
        .indiv-par-box.indiv-par-box-two
          .indiv-par-inner-box-two
            p.indiv-par.indiv-par-two
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | asperiores nobis placeat! Neque nisi corporis architecto inventore praesentium impedit ratione Lorem
              | ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
        img.indiv-img__two-right(src='./images/pr-images/pr-bankist-1.png', alt='')
      #3-indiv.indiv-section-box.indiv-box-three
        .indiv-headline-text-box.indiv-headline-box-three
          p.indiv-headline-text.indiv-headline-text-three Behind the Scenes
        img.indiv-img__three(src='./images/pr-images/pr-bankist-1.png', alt='')
        .indiv-par-box.indiv-par-box-three
          .indiv-par-inner-box-three
            p.indiv-par.indiv-par-three
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | asperiores nobis placeat! Neque nisi corporis architecto inventore praesentium impedit ratione Lorem
              | ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
            p.indiv-par.indiv-par-three
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | asperiores nobis placeat! Neque nisi corporis architecto inventore praesentium impedit ratione Lorem
              | ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
            p.indiv-par.indiv-par-three
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | asperiores nobis placeat! Neque nisi corporis architecto inventore praesentium impedit ratione Lorem
              | ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
      #4-indiv.indiv-section-box.indiv-box-four
        .indiv-headline-text-box.indiv-headline-box-four
          p.indiv-headline-text.indiv-headline-text-four Responsiveness
        .indiv-par-box.indiv-par-box-four
          .indiv-par-inner-box-four
            p.indiv-par.indiv-par-four
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | asperiores nobis placeat! Neque nisi corporis architecto inventore praesentium impedit ratione Lorem
              | ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
            p.indiv-par.indiv-par-four
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | asperiores nobis placeat! Neque nisi corporis architecto inventore praesentium impedit ratione Lorem
              | ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod quisquam quas enim! Provident, eum non
              | similique praesentium quod libero! Neque nisi corporis architecto inventore praesentium impedit ratione
        img.indiv-img__four(src='./images/pr-images/pr-mapty-2.png', alt='')
  section.indiv-section__scrolled-div

block scripting 
  script(type='module', defer src='/js/indivproject-controller.js')