extends base

block content 
  .intro-part__running-code-box(style='transform: translateY(2vh) scale(1)')
    img.intro-part__animated-code(src='/images/js-code-darkblue.png', alt='')
    .falling-down-div
    .running-right-div
  section.intro-part
    .intro-part__glass
    .intro-part__text-box
      p.intro-part__text My Projects
    // <p>LEARNING IS LIFELONG PROCESS</p>
    .intro-part__icon-box
      svg.intro-part__icon
        use(href='/images/icons/all-icons.svg#projects-icon-day')
  section.pr-main-section.section-hidden
    // <div class="switch-format__btn-box"><button class="btn__switch-format" type="button">BLAH</button></div>
    .pr-main__project-name Spin the Wheel to Learn More
    .placedover-div
      .pr-wheel-details.pr-wheel-details-left
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptates, maiores ipsa, tenetur cumque
          | laboriosam dolorum minus a quisquam fugiat consequuntur atque fuga, explicabo dolores excepturi. Quod minus
          | voluptatibus dolorem?
      .pr-wheel-details-central
      .pr-wheel-details.pr-wheel-details-right
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptates, maiores ipsa, tenetur cumque
          | laboriosam dolorum minus a quisquam fugiat consequuntur atque fuga, explicabo dolores excepturi. Quod minus
          | voluptatibus dolorem?
    .placedover-div.supreme-div
    .pr-general-view
      #1-mapty.justadiv.jad-mapty
        .back-side
        .justadiv__project-name
          p Mapty: Workout Records
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-mapty-content
          .jad__content-main-img__container.jad-mapty-image-container
            img.jad__content-main-img.jad-mapty-image(src='/images/pr-images/pr-mapty-1.png', alt='')
            .jad__content-secondary-img__container.jad-mapty-image-two-container
              img.jad__content-secondary-img.jad-mapty-image-two(src='/images/pr-images/pr-mapty-2.png', alt='')
              // <div class="secondary-img__backside"></div>
      #2-bankist.justadiv.jad-bankist
        .back-side
        .justadiv__project-name
          p Bankist: Home Page
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-bankist-content
          .jad__content-main-img__container.jad-bankist-image-container
            img.jad__content-main-img.jad-bankist-image(src='/images/pr-images/pr-bankist-1.png', alt='')
            .jad__content-secondary-img__container.jad-bankist-image-two-container
              img.jad__content-secondary-img.jad-bankist-image-two(src='/images/pr-images/pr-bankist-2.png', alt='')
            .jad__content-secondary-img__container.jad-bankist-image-three-container
              img.jad__content-secondary-img.jad-bankist-image-three(src='/images/pr-images/pr-bankist-3.png', alt='')
      #3-bankapp.justadiv.jad-bankist-app
        .back-side
        .justadiv__project-name
          p Bankist: Application
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-bankist-app-content
          .jad__content-main-img__container.jad-bankist-app-image-container
            img.jad__content-main-img.jad-bankist-app-image(src='/images/pr-images/pr-bankist-app-1.png', alt='')
      #4-natours.justadiv.jad-natours
        .back-side
        .justadiv__project-name
          p Natours: Your Travelling Guide
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-natours-content
          .jad__content-main-img__container.jad-natours-image-container
            img.jad__content-main-img.jad-natours-image(src='/images/pr-images/pr-natours-1.png', alt='')
            .jad__content-secondary-img__container.jad-natours-image-two-container
              img.jad__content-secondary-img.jad-natours-image-two(src='/images/pr-images/pr-natours-2.png', alt='')
      #5-forkify.justadiv.jad-forkify
        .back-side
        .justadiv__project-name
          p Forkify: Enrich Your Kitchen Arsenal
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-forkify-content
          .jad__content-main-img__container.jad-forkify-image-container
            img.jad__content-main-img.jad-forkify-image(src='/images/pr-images/pr-forkify-1.png', alt='')
            //
              <svg class=" pr-svg jad__content-main-img jad-forkify-image">
              <use href="/images/icons/logo-box-day.svg"></use>
              </svg>
            .jad__content-secondary-img__container.jad-forkify-image-two-container
              img.jad__content-secondary-img.jad-forkify-image-two(src='/images/pr-images/pr-forkify-2.png', alt='')
            .jad__content-secondary-img__container.jad-forkify-image-three-container
              img.jad__content-secondary-img.jad-forkify-image-three(src='/images/pr-images/pr-forkify-3.png', alt='')
      #6-connect.justadiv.jad-connect
        .back-side
        .justadiv__project-name
          p Connect Four
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-connect-content
          .jad__content-main-img__container.jad-connect-image-container
            img.jad__content-main-img.jad-connect-image(src='/images/pr-images/pr-connect-1.png', alt='')
            .jad__content-secondary-img__container.jad-connect-image-two-container
              img.jad__content-secondary-img.jad-connect-image-two(src='/images/pr-images/pr-connect-2.png', alt='')
      #7-piggame.justadiv.jad-piggame
        .back-side
        .justadiv__project-name
          p Pig Game
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-piggame-content
          .jad__content-main-img__container.jad-piggame-image-container
            img.jad__content-main-img.jad-piggame-image(src='/images/pr-images/pr-piggame-1.png', alt='')
      #8-portfolio.justadiv.jad-portfolio
        .back-side
        .justadiv__project-name
          p Portfolio Website
        .justadiv__content__learn-more
          p
            | This is the first project, where I applied my CSS knowledge to add responsiveness to the webpage. There
            | are also a lot of functionality add-ons.
          a.indv-project-link(href='./indivproject.html')
            button.jad__btn__learn-more(type='button')
              svg.sec__btn--arrow
                use(href='/images/icons/all-icons.svg#icon-arrow-night')
              svg.sec__btn--circle
                use(href='/images/icons/all-icons.svg#icon-circle-night')
        .justadiv__content.jad-portfolio-content
          .jad__content-main-img__container.jad-portfolio-image-container
            img.jad__content-main-img.jad-portfolio-image(src='/images/pr-images/pr-portfolio-1.png', alt='')
            .jad__content-secondary-img__container.jad-portfolio-image-two-container
              img.jad__content-secondary-img.jad-portfolio-image-two(src='/images/pr-images/pr-portfolio-2.png', alt='')
            .jad__content-secondary-img__container.jad-portfolio-image-three-container
              img.jad__content-secondary-img.jad-portfolio-image-three(src='/images/pr-images/pr-portfolio-3.png', alt='')
            .jad__content-secondary-img__container.jad-portfolio-image-four-container
              img.jad__content-secondary-img.jad-portfolio-image-four(src='/images/pr-images/pr-portfolio-4.png', alt='')

block scripting 
  script(type='module', defer src='/js/projects-controller.js')